/* -----------------general---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f8f6f6; }

main {
  width: 80vw;
  margin: auto;
  overflow-x: hidden; }

h1 {
  padding-top: 4%;
  text-align: center;
  font-size: 3rem;
  font-family: Poppins;
  color: #112e4f;
  font-weight: 600;
  text-shadow: 1px 1px 5px #999999; }

h2 {
  padding: 2.5%;
  text-align: left;
  font-size: 2rem;
  font-family: Raleway;
  color: #112e4f;
  font-weight: 600;
  text-shadow: 1px 1px 5px #999999; }

h3 {
  padding: 2.5% 0;
  text-align: center;
  font-size: 2rem;
  font-family: Poppins;
  color: #4072b0; }

h4 {
  padding: 1%;
  font-size: 1.75rem;
  font-family: Poppins;
  color: black; }

h5 {
  padding: 1%;
  font-size: 1.1rem;
  font-family: Poppins;
  color: black; }

h6 {
  padding: 1%;
  font-size: 1.1rem;
  font-family: Raleway;
  color: #f8f6f6;
  font-weight: 200; }

p {
  padding: 0.5%;
  font-size: 1.25rem;
  font-family: Raleway;
  color: black;
  line-height: 1.7; }

.header-img-h1 {
  width: 100vw;
  height: 25vh;
  object-fit: cover; }

.section__paragraph {
  padding-bottom: 3%;
  text-align: center;
  line-height: 1.9; }

/* From uiverse.io by @Ali-Tahmazi99// TRANSICION ICONO MENU HAMBURGUESA */
input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden; }

.bar {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px; }
  .bar span {
    position: absolute;
    width: 40px;
    height: 6.22px;
    background: #f8f6f6;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0; }
    .bar span.top {
      top: 0; }
    .bar span.middle {
      top: 17px; }
    .bar span.bottom {
      bottom: 0; }

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px; }

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px #aca895; }

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0; }

/* --------------------INDEX.HTML---------------------- */
.header-index {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url("../images/index.webp"); }

.header-servicios {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url("../images/servicios.webp"); }

.header-nosotros {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url("../images/nosotros.webp"); }

.header-proyectos {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url("../images/proyectos.webp"); }

.header-contacto {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url("../images/contacto.webp"); }

.header-sumate {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url("../images/sumate.webp"); }

/* header */
.header-index {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

/* primera barra */
.primera-barra {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  height: 2.6rem;
  width: 100vw;
  padding-right: 10%;
  line-height: 4%;
  align-items: center;
  background-color: #112e4f;
  position: fixed;
  z-index: 100; }
  .primera-barra__link {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 1.75%;
    padding: 0.4% 1.8%;
    text-align: center;
    background-color: #dce3ef;
    font-size: 1.3rem;
    font-family: Raleway;
    color: #112e4f;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.2 ease-in-out; }
    .primera-barra__link:hover {
      background-color: #e1e7f1;
      text-decoration: none;
      color: #112e4f;
      color: #4072b0; }
  .primera-barra__img {
    width: 2.5rem;
    margin-right: 1.1rem;
    transition: all 0.3 ease-in-out; }
    .primera-barra__img:hover {
      background-color: #164274; }

/* segunda barra */
.segunda-barra {
  width: 100%;
  padding-top: 2.6rem;
  box-shadow: 2px 2px 8px rgba(156, 152, 129, 0.192);
  background-color: rgba(175, 175, 172, 0.336); }
  .segunda-barra .logo {
    width: 60%;
    min-width: 250px; }
  .segunda-barra .navbar-brand {
    width: 40%; }

.nav-link {
  font-size: 1.3rem;
  font-family: Poppins;
  color: #112e4f;
  font-weight: 600; }
  .nav-link:hover {
    border-bottom: 2px solid #112e4f;
    color: #112e4f; }

/* hero */
.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; }
  .hero__title {
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-family: Poppins;
    color: #112e4f;
    font-weight: 500;
    line-height: 1.6;
    text-shadow: 2px 2px 2px #aca895; }
    .hero__title span {
      font-weight: 900;
      font-size: 5rem;
      font-family: Poppins;
      color: #1c1c1c; }
  .hero__subtitle {
    padding: 10px;
    font-size: 1.7rem;
    font-family: Raleway;
    color: black;
    font-weight: 500;
    text-align: center;
    background-color: rgba(248, 246, 246, 0.557); }
  .hero__button {
    display: inline-block;
    padding: 0.5% 1.3%;
    background-color: #112e4f;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 300;
    font-size: 1.4rem;
    color: #f8f6f6;
    margin-top: 5%;
    text-align: center;
    border: #112e4f 3px solid;
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 2px 2px #aca895;
    border: none; }
    .hero__button:hover {
      transform: scale(1.02);
      text-decoration: none;
      color: #f8f6f6;
      background-color: #164274; }

/* ------------------------ SERVICIOS.HTML ------------------------------*/
.header-servicios {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/*---------------------------PROYECTOS.HTML -----------------------------*/
.header-proyectos {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }

/* ------------------------------SUMATE.HTML---------------------------- */
.header-sumate {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* ---------------------------NOSOTROS.HTML----------------------------- */
.header-nosotros {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* ----------------------------CONTACTO.HTML---------------------------- */
.header-contacto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }

.footer {
  padding-top: 3%;
  background-color: #dce3ef;
  color: #112e4f; }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer__container .footer__section {
      width: 20vw;
      min-width: 200px;
      padding: 1%;
      border-left: 2px solid #cfd8e2; }
      .footer__container .footer__section:first-child {
        border-left: 2px solid #dce3ef; }
      .footer__container .footer__section .footer-redes {
        text-align: center; }
      .footer__container .footer__section .footer__list {
        padding: 5px;
        list-style: none;
        text-align: left;
        transition: all 0.2s ease-in-out; }
        .footer__container .footer__section .footer__list li {
          padding: 3% 0;
          font-size: 1.2rem;
          font-family: Raleway;
          color: black;
          line-height: 1.3;
          text-align: left; }
      .footer__container .footer__section .footer__subtitle {
        padding: 3.5% 30px;
        font-size: 1.2rem;
        text-align: left; }

.footer-redes__img {
  width: 1.5rem;
  color: #112e4f;
  margin: 6% 3%;
  transition: all 0.2s ease-in-out; }
  .footer-redes__img:hover {
    transform: scale(1.1); }

.footer__link {
  padding: 1.5%;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Raleway;
  color: #112e4f;
  line-height: 1.3; }
  .footer__link:hover, .footer__link--navegacion:hover {
    text-decoration: underline;
    color: #112e4f; }

.footer__link--navegacion {
  padding: 2% 4%;
  line-height: 1.4;
  transition: all 0.2s ease-in-out; }

.footer__icons {
  width: 20px;
  margin-right: 4%; }

.footer__logo {
  width: 100%;
  min-width: 180px;
  margin-bottom: 10%; }

.nav__list--footer {
  flex-direction: column; }

/* footer final */
.footer__final {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #112e4f;
  align-items: center; }
  .footer__final h4 {
    color: #f8f6f6;
    padding: 1%;
    font-size: 1.1rem;
    font-family: Raleway;
    color: #f8f6f6;
    font-weight: 200; }

@media only screen and (max-width: 1300px) {
  /* ---------------------INDEX.HTML----------------------------- */
  /* hero */
  .hero__title {
    font-size: 1.4rem; }
    .hero__title span {
      font-size: 4rem; }
  .hero__subtitle {
    font-size: 1.4rem; }
  .hero__button {
    font-size: 1.1rem; }
  /* Nuestros servicios */
  .nuestros-servicios-grid__subtitles {
    color: #4072b0;
    font-size: 1rem; }
  /* ----------------------NOSOTROS.HTML-------------------------- */
  /* seccion equipo */
  .section-equipo {
    margin-bottom: 5%; }
    .section-equipo .section-equipo__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, auto);
      gap: 1.2%;
      width: 90%;
      height: 100%;
      margin: 0 auto; }
  .section-equipo__img {
    width: 80%;
    height: 60%;
    object-fit: cover;
    margin-top: 0; }
  /* seccion sumate */
  .section-sumate-flex p {
    padding: 0 3%;
    font-size: 1.1rem; }
  .section__button {
    font-size: 1.1rem; }
  /* -----------------------CONTACTO.HTML-------------------------- */
  .main-div-flex {
    flex-wrap: wrap; }
  /* seccion formulario */
  .section-formulario {
    width: 80%;
    margin: 5% auto; }
  .input {
    width: 100%;
    padding: 5px 10px; }
  /* seccion sumate */
  .section-sumate-contacto {
    width: 50%;
    margin: 0px auto; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* ------------------------general---------------------------- */
  main {
    width: 90vw; }
  h1 {
    padding-top: 2%;
    font-size: 2.5rem; }
  h2 {
    padding: 1.5%;
    padding-top: 3.5%;
    font-size: 1.5rem; }
  h3 {
    padding: 2% 0;
    font-size: 1.5rem; }
  h4 {
    padding: 1%;
    font-size: 1.5rem; }
  h5 {
    padding: 1%;
    font-size: 1.2rem; }
  h6 {
    padding: 1%;
    font-size: 1.1rem; }
  p {
    padding: 0.5%;
    font-size: 1.1rem; }
  .header-img-h1 {
    height: 20vh; }
  /* ------------------------INDEX.HTML---------------------------- */
  /* primera barra */
  .primera-barra {
    padding-right: 3%;
    height: 2.4rem; }
    .primera-barra__link {
      font-size: 1.2rem; }
  .primera-barra__img {
    width: 2rem; }
  /* segunda barra */
  .segunda-barra {
    padding-top: 2.4rem; }
  /* hero */
  .hero {
    height: 75vh; }
    .hero__title {
      font-size: 2rem; }
      .hero__title span {
        font-size: 4rem; }
    .hero__subtitle {
      font-size: 1.5rem; }
  /* Nuestros servicios */
  .section__paragraph {
    font-size: 1.2rem; }
  .nuestros-servicios {
    margin: 8% auto; }
    .nuestros-servicios .nuestros-servicios__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 300px);
      gap: 3%;
      grid-template-areas: "cardServicios1 cardServicios5" "cardServicios3 cardServicios6" "cardServicios2 cardServicios4";
      justify-content: stretch; }
  .nuestros-servicios-grid__subtitles {
    font-size: 1rem;
    font-weight: 400;
    color: red; }
  /* Sobre Nosotros */
  .sobre-nosotros-item {
    width: 80%;
    min-width: 650px; }
    .sobre-nosotros-item .sobre-nosotros-item__subtitle {
      font-size: 1.1rem;
      color: red; }
  /* footer */
  .footer-redes__img {
    margin: 1%;
    width: 1.5rem; }
  .footer__link {
    padding: 1.3%;
    font-size: 1.1rem; }
  .footer__list li {
    font-size: 1.1rem; }
  .footer__subtitle {
    padding: 1% 1%;
    font-size: 1.1rem;
    text-align: left; }
  .footer__icons {
    width: 20px;
    margin-right: 4%; }
  /* ---------------------- SERVICIOS.HTML --------------------------*/
  .section-servicios-item {
    width: 100%; }
    .section-servicios-item__img {
      margin: 0; }
    .section-servicios-item p {
      padding: 0 2%; }
  .section-servicios-container--serv2 {
    width: 100%;
    margin: 0; }
  /* --------------------- NOSOTROS.HTML --------------------------*/
  /* seccion peeirr */
  .section-peeirr-div {
    margin: 3%; }
  /* seccion equipo */
  .section-equipo {
    margin-bottom: 5%; }
  .section-equipo__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1%;
    margin: 0 auto;
    width: 80%; }
  .section-equipo__img {
    width: 80%;
    height: 60%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0; }
  /* seccion sumate */
  /* seccion proyectos */
  .section-proyectos {
    margin: 0 auto 8%; }
    .section-proyectos .section-proyectos-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 30vh);
      gap: 1%;
      width: 95%;
      margin: 0 auto; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--1 {
        grid-column-start: 1;
        grid-column-end: 3; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--5 {
        grid-row-start: 2;
        grid-row-end: 4; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--6 {
        grid-column-start: span 2; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--7 {
        grid-column-start: span 2; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--9 {
        grid-column-start: 1;
        grid-column-end: 4; }
  .section-proyectos__title {
    font-size: 1.1rem; }
  /* --------------------- PROYECTOS.HTML -------------------------*/
  .proyectos-item {
    width: 95%; }
  /* ---------------------- SUMATE.HTML --------------------------*/
  .sumate-principal__title {
    font-size: 1.1rem; }
  .sumate-principal__subtitle {
    font-size: 1.2rem; }
  /* ---------------------CONTACTO.HTML-------------------------- */
  .main-div-flex {
    width: 95%; }
  /* seccion formulario */
  .section-formulario {
    width: 80%;
    margin: 5% auto; }
  /* seccion sumate */
  .section-sumate-contacto {
    width: 50%;
    margin: 0 auto; }
  /* seccion encontranos */
  .section-encontranos-div {
    width: 100%; } }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  /* general */
  h1 {
    padding-top: 2%;
    font-size: 2.2rem; }
  h2 {
    padding: 1.5%;
    padding-top: 3.5%;
    font-size: 1.2rem; }
  h3 {
    padding: 2% 0;
    font-size: 1.3rem; }
  /* ------------------------INDEX.HTML---------------------- */
  /* hero */
  .hero {
    height: 75vh; }
  /* primera barra */
  .primera-barra {
    padding-right: 3%;
    height: 2.4rem; }
    .primera-barra__link {
      font-size: 1.2rem; }
  .primera-barra__img {
    width: 2rem; }
  /* Nuestros servicios */
  .nuestros-servicios {
    margin: 8% auto; }
    .nuestros-servicios .nuestros-servicios__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 300px);
      gap: 2%;
      grid-template-areas: "cardServicios1 cardServicios5" "cardServicios3 cardServicios6" "cardServicios2 cardServicios4";
      justify-content: stretch; }
      .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid {
        min-width: 225px; }
        .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid img {
          width: 45%; }
        .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid .nuestros-servicios-grid__subtitles {
          font-size: 1rem; }
    .nuestros-servicios .section__paragraph {
      font-size: 1rem; }
  /* Sobre Nosotros */
  .sobre-nosotros-item {
    width: 90%; }
  .sobre-nosotros-item__subtitle {
    font-size: 1rem; }
  /* footer */
  .footer__link {
    font-size: 1.1rem; }
  .footer__list li {
    font-size: 1.1rem; }
  .footer__subtitle {
    font-size: 1rem; }
  .footer__icons {
    width: 20px;
    margin-right: 4%; }
  /*--------------------------SERVICIOS.HTML ------------------------------*/
  .section-servicios-item__img {
    margin: 0; }
  .section-servicios-container p {
    padding: 0 2%; }
  /*---------------------------NOSOTROS.HTML ---------------------------*/
  /* seccion peeirr */
  .section-peeirr-div {
    margin: 3%; }
  /* seccion equipo */
  .section-equipo {
    margin: 10% 0; }
    .section-equipo .section-equipo__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 2%; }
      .section-equipo .section-equipo__container .section-equipo__div {
        width: 95%;
        margin: 0 auto; }
        .section-equipo .section-equipo__container .section-equipo__div .section-equipo__img {
          margin-left: auto;
          margin-right: auto;
          margin-top: 0;
          width: 80%;
          height: 60%;
          object-fit: cover; }
  /* seccion sumate */
  .section-sumate {
    margin-top: 5%;
    width: 80vw; }
    .section-sumate .section-sumate h4 {
      font-size: 1.2rem; }
    .section-sumate .section-sumate__flex p {
      font-size: 1.1rem;
      padding: 0 4%; }
  .section__button {
    padding: 8px 22px;
    font-size: 1.1rem; }
  /* seccion proyectos */
  .section-proyectos {
    width: 100%; }
    .section-proyectos .section-proyectos-grid {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(3, 30vh);
      gap: 1%; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item {
        position: relative; }
        .section-proyectos .section-proyectos-grid .section-proyectos__item .section-proyectos__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: 2px 2px 2px #aca895; }
        .section-proyectos .section-proyectos-grid .section-proyectos__item .section-proyectos__title {
          width: 100%;
          padding: 2%;
          position: absolute;
          bottom: 0;
          color: #f8f6f6;
          background: linear-gradient(rgba(255, 255, 255, 0), black);
          font-size: 1.3rem; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--1 {
        grid-column-start: 1;
        grid-column-end: 3; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--4 {
        grid-column-start: 1;
        grid-column-end: 2; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--6 {
        grid-column-start: span 2; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--7 {
        grid-column: 1/2; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--8 {
        grid-column: 2/4;
        grid-row: 3/4; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--9 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4; }
  /*-------------------------PROYECTOS.HTML ------------------------*/
  .proyectos-container {
    margin: 5% 0;
    width: 100%; }
    .proyectos-container .proyectos-item {
      width: 200px;
      margin: 0;
      object-fit: cover; }
    .proyectos-container .proyectos-item-img__img {
      width: 40vw;
      height: 30vh;
      object-fit: cover;
      margin: 0.5% auto; }
  .proyectos-container--active p {
    width: 100%; }
    .proyectos-container--active p .proyectos-item {
      width: 90%;
      min-width: 400px; }
      .proyectos-container--active p .proyectos-item .proyectos-item__img {
        margin: 2% 0%; }
  /* ----------------------- SUMATE.HTML ----------------------------*/
  .sumate-principal__title {
    font-size: 1.1rem; }
  .sumate-principal__subtitle {
    font-size: 1.2rem; }
  /* ------------------------CONTACTO.HTML------------------------ */
  .main-div-flex {
    width: 90%;
    margin: 0 auto; }
  /* seccion formulario */
  .section-formulario {
    width: 90%;
    min-width: none;
    margin: 5% auto; }
  .input {
    padding: 8px 10px; }
  .form-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    row-gap: 5px; }
  /* seccion sumate */
  .section-sumate-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-width: none;
    margin: 5% auto; }
    .section-sumate-contacto__title {
      color: #4072b0;
      font-size: 1.5rem; }
    .section-sumate-contacto__subtitle {
      font-size: 1.3rem;
      font-weight: 400;
      margin: 0;
      padding: 2% 0; }
    .section-sumate-contacto__img {
      display: block;
      width: 100%;
      height: 400px;
      object-fit: cover;
      margin-top: 30px; }
  .section__button--contacto {
    padding: 1% 2%;
    margin: 1%; }
  /* seccion encontranos */
  .section-encontranos {
    margin-bottom: 5%; }
    .section-encontranos .section-encontranos__container {
      display: flex;
      flex-wrap: wrap; }
      .section-encontranos .section-encontranos__container .section-encontranos-div {
        width: 100%;
        min-width: 350px;
        font-family: Raleway; }
        .section-encontranos .section-encontranos__container .section-encontranos-div__title {
          font-size: 1.4rem; }
        .section-encontranos .section-encontranos__container .section-encontranos-div__iframe {
          width: 100%;
          margin: 3%; }
  .section-encontranos-div__item {
    font-size: 1.3rem;
    padding: 10px; }
    .section-encontranos-div__item span {
      color: #112e4f;
      font-weight: 500;
      font-family: Poppins; } }

@media only screen and (max-width: 576px) {
  /* -----------------------general---------------------------- */
  main {
    width: 100vw; }
  h1 {
    padding-top: 2%;
    font-size: 2.3rem; }
  h2 {
    padding: 1.5%;
    padding-top: 3.5%;
    font-size: 1.3rem; }
  h3 {
    padding: 2% 0;
    font-size: 1.3rem; }
  h4 {
    padding: 1%;
    font-size: 1.1rem; }
  h5 {
    padding: 1%;
    font-size: 1.2rem; }
  h6 {
    padding: 1%;
    font-size: 1.1rem; }
  p {
    padding: 0.5%;
    font-size: 1.1rem; }
  .header-img-h1 {
    height: 20vh; }
  /* ---------------------------INDEX.HTML-------------------------- */
  /* primera barra */
  .primera-barra {
    padding-right: 2%;
    justify-content: center; }
    .primera-barra__link {
      font-size: 1.1rem; }
  .primera-barra__img {
    width: 2rem;
    margin-left: 5px; }
  .primera-barra__img--lkd {
    display: none; }
  /* segunda barra */
  .logo {
    width: 30px;
    min-width: none;
    padding: 2%; }
  .navbar {
    padding: 0; }
  .nav-link {
    font-size: 1.2; }
  /* hero */
  .hero {
    height: 75vh; }
    .hero__title {
      font-size: 1.2rem; }
      .hero__title span {
        font-size: 2rem; }
    .hero__subtitle {
      font-size: 1.1rem; }
    .hero__button {
      font-size: 1rem; }
  /* Nuestros servicios */
  .nuestros-servicios {
    margin: 8% auto;
    height: auto; }
    .nuestros-servicios .nuestros-servicios__container {
      display: flex;
      flex-direction: column;
      gap: 5%; }
      .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid {
        width: 60%;
        height: 300px;
        margin: 3% auto; }
        .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid .nuestros-servicios-grid img {
          width: 20%; }
  .section__paragraph {
    font-size: 1.2rem; }
  /* Sobre Nosotros */
  .sobre-nosotros-item {
    padding: 0 20px; }
    .sobre-nosotros-item .sobre-nosotros-item__subtitle {
      font-size: 1rem; }
    .sobre-nosotros-item .sobre-nosotros-item__img {
      width: 100%;
      height: 40vh; }
  /* footer */
  .footer__section {
    width: 100vw;
    text-align: center;
    margin-bottom: 5%; }
    .footer__section .footer__subtitle {
      font-size: 1.1rem;
      text-align: center; }
    .footer__section .footer__list {
      padding: 1%;
      text-align: center; }
      .footer__section .footer__list li {
        font-size: 1.1rem; }
  .footer-redes__img {
    margin-left: 10%;
    width: 1.5rem; }
  .footer__link {
    padding: 1%;
    font-size: 1.1rem; }
  .footer__icons {
    width: 10%;
    margin-right: 4%; }
  .footer__logo {
    width: 100%;
    margin: 2%; }
  /* footer final */
  .footer__final h6 {
    font-size: 1.1rem; }
  /* --------------------- SERVICIOS.HTML --------------------------*/
  .section-servicios-container {
    padding: 0 5%;
    width: 100%; }
    .section-servicios-container .section-servicios-item {
      width: 100%;
      min-width: 200px;
      padding: 0; }
      .section-servicios-container .section-servicios-item .section-servicios-item__img {
        height: 30vh;
        width: 100%;
        margin: 3% 0; }
  /* ------------------------ NOSOTROS.HTML -----------------------*/
  /* seccion peeirr */
  .section-peeirr-div {
    padding: 5%;
    width: 90%;
    min-width: 150px; }
  .section-peeirr-div__item {
    padding-bottom: 1%;
    font-size: 1.1rem; }
  /* seccion equipo */
  .section-equipo {
    margin: 15% 0; }
    .section-equipo .section-equipo__container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 1fr);
      gap: 0.5%;
      width: 80%;
      margin: 0 auto; }
  .section-equipo__img {
    width: 80%;
    height: 60%;
    object-fit: cover;
    margin-top: 0; }
  /* seccion sumate */
  .section-sumate {
    margin-top: 5%;
    width: 100vw; }
    .section-sumate h4 {
      font-size: 1.2rem; }
  .section-sumate__flex p {
    font-size: 1.1rem;
    padding: 0 4%; }
  .section-sumate__flex p {
    padding: 0 3%;
    font-size: 1.1rem; }
  .section__button {
    padding: 8px 22px;
    font-size: 1.1rem; }
  /* seccion proyectos */
  .section-proyectos {
    width: 100%;
    margin: 0; }
    .section-proyectos .section-proyectos-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 30vh);
      gap: 1%;
      margin-bottom: 5%; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--1 {
        grid-column-start: span 2; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--4 {
        grid-row-start: 3;
        grid-row-end: 4; }
      .section-proyectos .section-proyectos-grid .section-proyectos__item--9 {
        grid-column-start: 2;
        grid-column-end: 3; }
  .section-proyectos__title {
    font-size: 1.1rem; }
  .section-proyectos__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 2px #aca895; }
  /* ----------------------- PROYECTOS.HTML -----------------------*/
  .proyectos-container {
    margin: 0;
    padding: 3%; }
    .proyectos-container .proyectos-item-img {
      flex-wrap: wrap; }
      .proyectos-container .proyectos-item-img .proyectos-item-img__img {
        width: 30vw;
        height: 30vh;
        object-fit: cover;
        margin: 0.5% auto; }
    .proyectos-container .proyectos-item {
      width: 100%;
      min-width: none; }
      .proyectos-container .proyectos-item .proyectos-item__img {
        display: none; }
  /* -------------------------- SUMATE.HTML ---------------------------*/
  .sumate-principal__title {
    font-size: 1.1rem; }
  .sumate-principal__subtitle {
    font-size: 1.2rem; }
  /* --------------------------CONTACTO.HTML------------------------- */
  .header-contacto {
    background-position: top 50%; }
  .main-div-flex {
    width: 90%;
    margin: 0 auto; }
  /* seccion formulario */
  .section-formulario {
    width: 90%;
    min-width: none;
    margin: 5% auto; }
  .form-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    row-gap: 5px; }
  .input {
    padding: 8px 10px; }
  /* seccion sumate */
  .main-div-flex {
    width: 100%; }
  .section-sumate-contacto {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 200px;
    margin: 0 auto; }
    .section-sumate-contacto__title {
      color: #4072b0;
      font-size: 1.5rem;
      margin: 0;
      padding: 2% 0; }
    .section-sumate-contacto__subtitle {
      font-size: 1.3rem;
      font-weight: 400;
      margin: 0;
      padding: 2% 0; }
    .section-sumate-contacto__img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      display: block;
      margin-top: 30px;
      object-fit: top; }
  .section__button--contacto {
    padding: 1% 2%;
    margin: 1%; }
  /* seccion encontranos */
  .section-encontranos {
    margin-bottom: 5%; }
    .section-encontranos .section-encontranos__container {
      display: flex;
      flex-wrap: wrap; }
    .section-encontranos .section-encontranos-div {
      width: 100%;
      min-width: none;
      font-family: Raleway; }
      .section-encontranos .section-encontranos-div__title {
        font-size: 1.1rem; }
      .section-encontranos .section-encontranos-div__item {
        font-size: 1.1rem; }
      .section-encontranos .section-encontranos-div__iframe {
        width: 100%;
        margin: 0%;
        border-radius: 0; }
  .section-encontranos-div__item {
    font-size: 1.1rem;
    padding: 10px; }
    .section-encontranos-div__item span {
      font-size: 1.1rem;
      font-family: Poppins;
      color: #112e4f;
      font-weight: 500; } }

@media only screen and (max-width: 350px) {
  /* general */
  h1 {
    padding-top: 8%;
    font-size: 1.8rem; }
  h2 {
    padding: 1.5%;
    font-size: 1.1rem; }
  /* ---------------------------INDEX.HTML------------------------- */
  /* segunda barra */
  .logo {
    width: 30px;
    min-width: none;
    padding-top: 60px; }
  .navbar {
    padding: 0; }
  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 0; }
  /* hero */
  .hero {
    height: 60vh; }
  /* Sobre Nosotros */
  .sobre-nosotros-item__paragraph,
  .sobre-nosotros-item__subtitle {
    margin: 0 50px; }
  .sobre-nosotros-item__subtitle {
    font-size: 1rem; }
  /* seccion peeirr */
  .section-peeirr-div {
    min-width: 100px;
    width: 90%; }
  /* footer */
  .footer__section {
    width: 80%;
    border-left: none; }
  .footer h6 {
    text-align: center;
    color: #112e4f; }
  /* footer final */
  .footer__final h6 {
    font-size: 1.1rem;
    color: #f8f6f6;
    margin-top: 0; }
  /* ----------------------------NOSOTROS.HTML------------------------- */
  /* seccion sumate */
  .section-sumate__flex p {
    text-align: center; }
  /* --------------------------PROYECTOS.HTML--------------------------- */
  .proyectos-container,
  .proyectos-container--active {
    margin: 0;
    padding: 3%;
    min-width: none; }
    .proyectos-container .proyectos-item-img,
    .proyectos-container--active .proyectos-item-img {
      flex-wrap: wrap; }
      .proyectos-container .proyectos-item-img .proyectos-item-img__img,
      .proyectos-container--active .proyectos-item-img .proyectos-item-img__img {
        width: 40vw;
        height: 30vh;
        object-fit: cover;
        margin: 0.5% auto; }
    .proyectos-container .proyectos-item,
    .proyectos-container--active .proyectos-item {
      width: 100%;
      min-width: none; }
      .proyectos-container .proyectos-item .proyectos-item__img,
      .proyectos-container--active .proyectos-item .proyectos-item__img {
        display: none; }
  /* --------------------------CONTACTO.HTML--------------------------- */
  /* seccion sumate */
  .section-sumate-contacto__subtitle {
    font-size: 1.1rem;
    text-align: center;
    margin: 0 20px; }
  /* seccion encontranos */
  .section-encontranos {
    margin-bottom: 5%; }
  .section-encontranos-div {
    width: 100%;
    min-width: none; }
    .section-encontranos-div__item {
      font-size: 0.5rem;
      padding: 0px;
      margin: 0px; }
    .section-encontranos-div__iframe {
      margin: 0%; } }
