/* -----------------general---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f8f6f6; }

main {
  width: 80vw;
  margin: auto;
  overflow-x: hidden; }
  @media screen and (max-width: 1024px) {
    main {
      width: 90vw; } }
  @media screen and (max-width: 576px) {
    main {
      width: 100vw; } }

h1 {
  padding: 4% 0;
  text-align: center;
  font-size: 2.7rem;
  font-family: Poppins;
  color: #112e4f;
  font-weight: 600;
  text-shadow: 1px 1px 5px #999999; }
  @media screen and (max-width: 1024px) {
    h1 {
      padding: 2% 0;
      font-size: 2.4rem; } }
  @media screen and (max-width: 576px) {
    h1 {
      font-size: 2.2rem; } }

h2 {
  padding: 8% 3% 2%;
  text-align: left;
  font-size: 2rem;
  font-family: Raleway;
  color: #112e4f;
  font-weight: 600; }
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 1.8rem; } }
  @media screen and (max-width: 576px) {
    h2 {
      font-size: 1.6rem;
      text-align: center; } }

h3 {
  padding-top: 6%;
  padding-bottom: 3%;
  text-align: center;
  font-size: 1.75rem;
  font-family: Poppins;
  color: #4072b0; }

h4 {
  padding-top: 6%;
  font-size: 1.5rem;
  font-family: Poppins;
  color: black; }
  @media screen and (max-width: 576px) {
    h4 {
      text-align: center; } }

h5 {
  padding-top: 3%;
  font-size: 1.5rem;
  font-family: Poppins;
  color: black; }

p {
  padding: 2%;
  font-size: 1.15rem;
  font-family: Raleway;
  color: black;
  line-height: 1.7; }
  @media screen and (max-width: 1024px) {
    p {
      font-size: 1.1rem; } }

.header-img-h1 {
  width: 100%;
  height: 25vh;
  object-fit: cover; }
  @media screen and (max-width: 1024px) {
    .header-img-h1 {
      height: 20vh; } }

.section-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2% auto; }
  @media screen and (max-width: 768px) {
    .section-flex {
      display: block; } }
  .section-flex .section-flex__paragraph {
    width: 50%;
    padding: 0 2% 1%;
    line-height: 1.9;
    font-size: 1.20rem;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .section-flex .section-flex__paragraph {
        width: 90%;
        padding: 0 2%; } }

.section__paragraph {
  text-align: center;
  width: 100%;
  margin: 0 auto 4%; }

.icono-burguer:focus {
  border: none; }

/* --------------------INDEX.HTML---------------------- */
.header-servicios {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url("../images/servicios.webp"); }

.header-nosotros {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url("../images/nosotros.webp"); }

.header-proyectos {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url("../images/proyectos.webp"); }

.header-contacto {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url("../images/contacto.webp"); }

.header-sumate {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url("../images/sumate.webp"); }

/* header */
.header-index {
  background: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6)), url(../images/index.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

/* primera barra */
.primera-barra {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  height: 2.6rem;
  width: 100vw;
  padding-right: 10%;
  line-height: 4%;
  align-items: center;
  background-color: #112e4f;
  position: fixed;
  z-index: 100; }
  @media screen and (max-width: 1024px) {
    .primera-barra {
      padding-right: 3%;
      height: 2.4rem; } }
  @media screen and (max-width: 576px) {
    .primera-barra {
      padding-right: 2%;
      justify-content: center; } }
  .primera-barra__link {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 1.75%;
    padding: 0.4% 1.8%;
    text-align: center;
    background-color: #dce3ef;
    font-size: 1.3rem;
    font-family: Raleway;
    color: #112e4f;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.2 ease-in-out; }
    @media screen and (max-width: 1024px) {
      .primera-barra__link {
        font-size: 1.2rem; } }
    @media screen and (max-width: 576px) {
      .primera-barra__link {
        font-size: 1.1rem; } }
    .primera-barra__link:hover {
      background-color: #e1e7f1;
      text-decoration: none;
      color: #4072b0; }

.primera-barra__icon {
  font-size: 30px;
  color: #f8f6f6;
  margin-right: 1.1rem;
  transition: all 0.3 ease-in-out; }
  @media screen and (max-width: 768px) {
    .primera-barra__icon {
      margin-left: 5px; } }
  .primera-barra__icon:hover {
    color: #4072b0; }

@media screen and (max-width: 350px) {
  .primera-barra__icon--lkd {
    display: none; } }

/* segunda barra */
.segunda-barra {
  width: 100%;
  padding-top: 2.6rem;
  box-shadow: 2px 2px 8px rgba(156, 152, 129, 0.192);
  background-color: rgba(175, 175, 172, 0.336); }
  @media screen and (max-width: 1024px) {
    .segunda-barra {
      padding-top: 2.4rem; } }

@media screen and (max-width: 576px) {
  .navbar {
    padding: 0; } }

@media screen and (max-width: 350px) {
  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 0; } }

.navbar-brand {
  width: 40%; }
  .navbar-brand .logo {
    width: 60%;
    min-width: 250px; }
    @media screen and (max-width: 576px) {
      .navbar-brand .logo {
        width: 30px;
        min-width: none;
        padding: 2%; } }
    @media screen and (max-width: 350px) {
      .navbar-brand .logo {
        padding-top: 60px; } }

.nav-link {
  font-size: 1.3rem;
  font-family: Raleway;
  color: #112e4f;
  font-weight: 600; }
  @media screen and (max-width: 576px) {
    .nav-link {
      font-size: 1.2rem; } }
  .nav-link:hover {
    border-bottom: 2px solid #112e4f;
    color: #112e4f; }

.bi-x-circle,
.bi-three-dots-vertical {
  font-size: 30px;
  color: #112e4f; }

.offcanvas-end {
  background-color: #f8f6f6; }

.nav-item--offcanvas {
  border-bottom: 1px solid #d8dce0; }
  .nav-item--offcanvas:last-child {
    border-bottom: none; }

/* hero */
.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; }
  @media screen and (max-width: 1024px) {
    .hero {
      height: 75vh; } }
  @media screen and (max-width: 768px) {
    .hero {
      padding: 5%; } }
  .hero__title {
    padding: 10px;
    text-align: center;
    font-size: 1.6rem;
    font-family: Poppins;
    color: #112e4f;
    font-weight: 500;
    line-height: 1.6;
    text-shadow: 2px 2px 2px #aca895; }
    @media screen and (max-width: 1024px) {
      .hero__title {
        font-size: 1.5rem; } }
    @media screen and (max-width: 576px) {
      .hero__title {
        font-size: 1.4rem; } }
    @media screen and (max-width: 350px) {
      .hero__title {
        font-size: 1.3rem; } }
    .hero__title span {
      font-weight: 900;
      font-size: 3rem;
      font-family: Poppins;
      color: #1c1c1c; }
      @media screen and (max-width: 1024px) {
        .hero__title span {
          font-size: 2.8rem; } }
      @media screen and (max-width: 576px) {
        .hero__title span {
          font-size: 2.4rem; } }
      @media screen and (max-width: 350px) {
        .hero__title span {
          font-size: 2rem; } }
  .hero__subtitle {
    padding: 10px;
    font-size: 1.4rem;
    font-family: Raleway;
    color: black;
    font-weight: 500;
    text-align: center;
    background-color: rgba(248, 246, 246, 0.3); }
    @media screen and (max-width: 1024px) {
      .hero__subtitle {
        font-size: 1.3rem; } }
    @media screen and (max-width: 576px) {
      .hero__subtitle {
        font-size: 1.2rem; } }
    @media screen and (max-width: 350px) {
      .hero__subtitle {
        font-size: 1.1rem; } }
  .hero__button {
    display: inline-block;
    padding: 0.9% 1.3%;
    background-color: #112e4f;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 300;
    font-size: 1.15rem;
    color: #f8f6f6;
    margin-top: 5%;
    text-align: center;
    border: #112e4f 3px solid;
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 1px 5px #999999;
    border: none; }
    .hero__button:hover, .input__button:hover {
      transform: scale(1.02);
      text-decoration: none;
      color: #f8f6f6;
      background-color: #164274; }

/* ------------------------ SERVICIOS.HTML ------------------------------*/
.header-servicios {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/*---------------------------PROYECTOS.HTML -----------------------------*/
.header-proyectos {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }

/* ------------------------------SUMATE.HTML---------------------------- */
.header-sumate {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* ---------------------------NOSOTROS.HTML----------------------------- */
.header-nosotros {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* ----------------------------CONTACTO.HTML---------------------------- */
.header-contacto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }
  @media screen and (max-width: 576px) {
    .header-contacto {
      background-position: top 50%; } }

/* ---------------------------INDEX.HTML----------------------------- */
/* Nuestros servicios */
.nuestros-servicios {
  margin: 4% auto; }
  @media screen and (max-width: 1024px) {
    .nuestros-servicios {
      margin: 8% auto; } }
  .nuestros-servicios .nuestros-servicios__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 350px);
    gap: 3%;
    grid-template-areas: "cardServicios1 cardServicios5 cardServicios3" "cardServicios6 cardServicios2 cardServicios4";
    justify-content: stretch; }
    @media screen and (max-width: 1024px) {
      .nuestros-servicios .nuestros-servicios__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 350px);
        gap: 3%;
        grid-template-areas: "cardServicios1 cardServicios5" "cardServicios3 cardServicios6" "cardServicios2 cardServicios4"; } }
    @media screen and (max-width: 768px) {
      .nuestros-servicios .nuestros-servicios__container {
        gap: 2%; } }
    @media screen and (max-width: 576px) {
      .nuestros-servicios .nuestros-servicios__container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5%; } }
    .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      width: 60%;
      min-width: 250px;
      border-radius: 15px;
      box-shadow: 1px 1px 8px #dfdfdd; }
      @media screen and (max-width: 768px) {
        .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid {
          min-width: 225px; } }
      @media screen and (max-width: 576px) {
        .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid {
          height: 350px;
          width: 65%;
          margin: 3% auto; } }
      @media screen and (max-width: 350px) {
        .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid {
          width: 80%;
          height: 350px;
          margin: 3% auto; } }
      .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid img {
        display: block;
        width: 36%;
        height: auto;
        margin: 2% auto;
        text-align: center; }
        @media screen and (max-width: 768px) {
          .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid img {
            width: 40%; } }
      .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid__subtitles {
        padding: 3%;
        text-align: center;
        font-size: 1.1rem;
        font-family: Poppins;
        color: #4072b0;
        line-height: 1.5;
        font-weight: 600; }
        @media screen and (max-width: 1024px) {
          .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid__subtitles {
            font-weight: 400; } }
      .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid__link {
        text-align: center; }
    .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid1 {
      justify-self: center;
      grid-area: cardServicios1; }
    .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid2 {
      justify-self: center;
      grid-area: cardServicios2; }
    .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid3 {
      justify-self: center;
      grid-area: cardServicios3; }
    .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid4 {
      justify-self: center;
      grid-area: cardServicios4; }
    .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid5 {
      justify-self: center;
      grid-area: cardServicios5; }
    .nuestros-servicios .nuestros-servicios__container .nuestros-servicios-grid6 {
      justify-self: center;
      grid-area: cardServicios6; }

/* From uiverse.io // boton de LEER MAS */
button {
  display: inline-block;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  color: #f8f6f6;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle; }

button.learn-more {
  width: 10rem;
  height: auto; }
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #272835;
    border-radius: 1.625rem; }
    button.learn-more .circle .icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #f8f6f6; }
      button.learn-more .circle .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none; }
        button.learn-more .circle .icon.arrow::before {
          position: absolute;
          content: "";
          top: -0.29rem;
          right: 0.0625rem;
          width: 0.625rem;
          height: 0.625rem;
          border-top: 0.125rem solid #f8f6f6;
          border-right: 0.125rem solid #f8f6f6;
          transform: rotate(45deg); }
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #272835;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-family: Raleway; }

button:hover .circle {
  width: 100%; }
  button:hover .circle .icon.arrow {
    background: #f8f6f6;
    transform: translate(1rem, 0); }

button:hover .button-text {
  color: #f8f6f6; }

/* Sobre Nosotros */
.sobre-nosotros {
  margin: 10% 0 5%;
  padding-bottom: 5%;
  background-color: #112e4f; }
  .sobre-nosotros__title {
    color: #f8f6f6; }
  .sobre-nosotros__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; }
    .sobre-nosotros__container .sobre-nosotros-item {
      width: 50%;
      min-width: 400px;
      height: 50%;
      text-align: left;
      font-family: Raleway;
      line-height: 1.9; }
      @media screen and (max-width: 1024px) {
        .sobre-nosotros__container .sobre-nosotros-item {
          width: 95%;
          text-align: center; } }
      @media screen and (max-width: 768px) {
        .sobre-nosotros__container .sobre-nosotros-item {
          min-width: none; } }
      @media screen and (max-width: 576px) {
        .sobre-nosotros__container .sobre-nosotros-item {
          padding: 0; } }
      .sobre-nosotros__container .sobre-nosotros-item__img {
        width: 80%;
        height: 40vh;
        margin: 3%;
        object-fit: cover; }
        @media screen and (max-width: 576px) {
          .sobre-nosotros__container .sobre-nosotros-item__img {
            width: 100%;
            height: 40vh;
            margin: 0; } }
      .sobre-nosotros__container .sobre-nosotros-item__subtitle {
        margin: 0 10%;
        padding: 5%;
        font-size: 1.6rem;
        font-family: Poppins;
        color: #dce3ef;
        text-align: left; }
        @media screen and (max-width: 1024px) {
          .sobre-nosotros__container .sobre-nosotros-item__subtitle {
            font-size: 1.4rem;
            text-align: center; } }
        @media screen and (max-width: 768px) {
          .sobre-nosotros__container .sobre-nosotros-item__subtitle {
            font-size: 1.3rem; } }
        @media screen and (max-width: 576px) {
          .sobre-nosotros__container .sobre-nosotros-item__subtitle {
            padding: 0 5%; } }
        @media screen and (max-width: 350px) {
          .sobre-nosotros__container .sobre-nosotros-item__subtitle {
            margin: 0 50px; } }
      .sobre-nosotros__container .sobre-nosotros-item__paragraph {
        color: #f8f6f6;
        margin: 0 5%;
        padding: 0 5%; }
        @media screen and (max-width: 768px) {
          .sobre-nosotros__container .sobre-nosotros-item__paragraph {
            margin: 0 2%;
            padding: 0 5%; } }
        @media screen and (max-width: 350px) {
          .sobre-nosotros__container .sobre-nosotros-item__paragraph {
            font-size: 1.1rem;
            margin: 0 8%;
            padding: 0 10%; } }

/* Algunos de nuestros clientes //carrousel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #272835;
  border-radius: 50px; }

/* ---------------------------SERVICIOS.HTML----------------------------- */
.section-servicios-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5%;
  padding: 3% 0;
  align-items: center;
  border-radius: 15px;
  box-shadow: 1px 1px 8px #dfdfdd; }
  @media screen and (max-width: 576px) {
    .section-servicios-container {
      padding: 0 5%; } }
  .section-servicios-container .section-servicios-item {
    width: 40%;
    min-width: 400px; }
    @media screen and (max-width: 1024px) {
      .section-servicios-container .section-servicios-item {
        width: 100%; } }
    @media screen and (max-width: 576px) {
      .section-servicios-container .section-servicios-item {
        min-width: 200px;
        padding: 0; } }
    .section-servicios-container .section-servicios-item h4 {
      font-size: 1.3rem;
      padding: 3% 0; }
    .section-servicios-container .section-servicios-item__img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
      margin: 2%; }
      @media screen and (max-width: 1024px) {
        .section-servicios-container .section-servicios-item__img {
          margin: 0; } }
      @media screen and (max-width: 576px) {
        .section-servicios-container .section-servicios-item__img {
          height: 30vh;
          margin: 3% 0; } }
    @media screen and (max-width: 1024px) {
      .section-servicios-container .section-servicios-item p {
        padding: 0 2%; } }
    @media screen and (max-width: 768px) {
      .section-servicios-container .section-servicios-item p {
        padding: 0 2%; } }

.section-servicios-container--serv5 {
  background-color: #112e4f; }
  .section-servicios-container--serv5 h4,
  .section-servicios-container--serv5 p {
    color: #f8f6f6; }

.section-servicios-container--serv2 {
  background-color: #dce3ef;
  color: #112e4f; }
  @media screen and (max-width: 1024px) {
    .section-servicios-container--serv2 {
      width: 100%;
      margin: 0; } }

/* acordeon bootstrap //FAQS */
.accordion-collapse, .accordion-header {
  background-color: #f8f6f6; }

.accordion-header {
  border-bottom: 1px solid rgba(223, 223, 221, 0.562); }

.accordion-button,
.accordion {
  font-family: Raleway;
  font-size: 1.2rem;
  color: black;
  background-color: #f8f6f6; }

/* ---------------------------PROYECTOS.HTML----------------------------- */
.proyectos-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 3%;
  padding: 3%;
  border-radius: 15px;
  box-shadow: 1px 1px 8px #dfdfdd; }
  @media screen and (max-width: 768px) {
    .proyectos-container {
      margin: 5% 0;
      width: 100%; } }
  @media screen and (max-width: 576px) {
    .proyectos-container {
      margin: 0; } }
  .proyectos-container .proyectos-item-img {
    display: flex;
    flex-wrap: wrap; }
    .proyectos-container .proyectos-item-img__img {
      width: 40%;
      height: 400px;
      object-fit: cover;
      margin: 3% auto; }
      @media screen and (max-width: 768px) {
        .proyectos-container .proyectos-item-img__img {
          width: 40vw;
          height: 30vh;
          object-fit: cover;
          margin: 0.5% auto; } }
  .proyectos-container h3 {
    padding: 0 3%;
    text-align: center;
    font-size: 1.5rem; }
  .proyectos-container .proyectos-item__list {
    padding: 0 5%; }
    .proyectos-container .proyectos-item__list li {
      list-style: none; }

li::marker {
  color: #112e4f; }

.proyectos-container--active {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #dce3ef; }
  @media screen and (max-width: 350px) {
    .proyectos-container--active {
      margin: 0;
      padding: 3%;
      min-width: none; } }
  @media screen and (max-width: 768px) {
    .proyectos-container--active p {
      width: 100%; } }
  .proyectos-container--active .proyectos-item {
    width: 45%;
    padding: 1%; }
    @media screen and (max-width: 1024px) {
      .proyectos-container--active .proyectos-item {
        width: 95%; } }
    @media screen and (max-width: 768px) {
      .proyectos-container--active .proyectos-item {
        width: 90%;
        height: auto;
        object-fit: cover;
        margin: 0;
        width: 100%; } }
    @media screen and (max-width: 576px) {
      .proyectos-container--active .proyectos-item {
        min-width: none; } }
    .proyectos-container--active .proyectos-item__img {
      width: 100%;
      height: auto;
      object-fit: cover;
      margin: 2% 0; }
      @media screen and (max-width: 576px) {
        .proyectos-container--active .proyectos-item__img {
          display: none; } }

/* otros proyectos */
.section-proyectos {
  width: 95%;
  height: 100%;
  margin: 0 auto 8%; }
  @media screen and (max-width: 350px) {
    .section-proyectos {
      width: 100%; } }
  .section-proyectos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 30vh);
    gap: 1%; }
    @media screen and (max-width: 1024px) {
      .section-proyectos-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 30vh);
        gap: 1%; } }
    @media screen and (max-width: 576px) {
      .section-proyectos-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 30vh);
        gap: 1%; } }
    @media screen and (max-width: 350px) {
      .section-proyectos-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 0.5%; } }
    .section-proyectos-grid .section-proyectos__item {
      position: relative; }
      .section-proyectos-grid .section-proyectos__item .section-proyectos__icon {
        position: absolute;
        bottom: 0;
        left: auto;
        right: auto;
        font-size: 20px;
        padding: 0 5px;
        color: rgba(248, 246, 246, 0.753);
        border-radius: 50%; }
      .section-proyectos-grid .section-proyectos__item .section-proyectos__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 2px 2px 2px #aca895; }
      .section-proyectos-grid .section-proyectos__item .section-proyectos__title {
        position: absolute;
        width: 100%;
        padding: 20% 0 6%;
        bottom: 0;
        text-align: center;
        background: linear-gradient(rgba(255, 255, 255, 0), black);
        opacity: 0;
        font-size: 1.15rem;
        font-family: Raleway;
        color: #f8f6f6; }
        .section-proyectos-grid .section-proyectos__item .section-proyectos__title:hover {
          opacity: 1;
          cursor: default; }
        @media screen and (max-width: 576px) {
          .section-proyectos-grid .section-proyectos__item .section-proyectos__title {
            font-size: 1rem; } }
    .section-proyectos-grid .section-proyectos__item--1 {
      grid-column-start: 1;
      grid-column-end: 3; }
      @media screen and (max-width: 576px) {
        .section-proyectos-grid .section-proyectos__item--1 {
          grid-column-start: span 2; } }
      @media screen and (max-width: 350px) {
        .section-proyectos-grid .section-proyectos__item--1 {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2; } }
    @media screen and (max-width: 350px) {
      .section-proyectos-grid .section-proyectos__item--2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3; } }
    @media screen and (max-width: 350px) {
      .section-proyectos-grid .section-proyectos__item--3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3; } }
    @media screen and (max-width: 768px) {
      .section-proyectos-grid .section-proyectos__item--4 {
        grid-column-start: 1;
        grid-column-end: 2; } }
    @media screen and (max-width: 576px) {
      .section-proyectos-grid .section-proyectos__item--4 {
        grid-column-start: 2;
        grid-column-end: 4; } }
    @media screen and (max-width: 350px) {
      .section-proyectos-grid .section-proyectos__item--4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5; } }
    .section-proyectos-grid .section-proyectos__item--5 {
      grid-row-start: 2;
      grid-row-end: 4; }
      @media screen and (max-width: 768px) {
        .section-proyectos-grid .section-proyectos__item--5 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3; } }
      @media screen and (max-width: 576px) {
        .section-proyectos-grid .section-proyectos__item--5 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 3;
          grid-row-end: 4; } }
      @media screen and (max-width: 350px) {
        .section-proyectos-grid .section-proyectos__item--5 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 4; } }
    @media screen and (max-width: 1024px) {
      .section-proyectos-grid .section-proyectos__item--6 {
        grid-column-start: span 2; } }
    @media screen and (max-width: 576px) {
      .section-proyectos-grid .section-proyectos__item--6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4; } }
    @media screen and (max-width: 350px) {
      .section-proyectos-grid .section-proyectos__item--6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6; } }
    .section-proyectos-grid .section-proyectos__item--7 {
      grid-column-start: span 2; }
      @media screen and (max-width: 768px) {
        .section-proyectos-grid .section-proyectos__item--7 {
          grid-column: 1/2; } }
      @media screen and (max-width: 576px) {
        .section-proyectos-grid .section-proyectos__item--7 {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 3;
          grid-row-end: 4; } }
      @media screen and (max-width: 350px) {
        .section-proyectos-grid .section-proyectos__item--7 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 5;
          grid-row-end: 6; } }
    .section-proyectos-grid .section-proyectos__item--8 {
      grid-row-start: span 2; }
      @media screen and (max-width: 768px) {
        .section-proyectos-grid .section-proyectos__item--8 {
          grid-column: 2/4;
          grid-row: 3/4; } }
      @media screen and (max-width: 576px) {
        .section-proyectos-grid .section-proyectos__item--8 {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 5; } }
      @media screen and (max-width: 350px) {
        .section-proyectos-grid .section-proyectos__item--8 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 6;
          grid-row-end: 7; } }
    .section-proyectos-grid .section-proyectos__item--9 {
      grid-column-start: 2;
      grid-column-end: 5; }
      @media screen and (max-width: 1024px) {
        .section-proyectos-grid .section-proyectos__item--9 {
          grid-column-start: 1;
          grid-column-end: 4; } }
      @media screen and (max-width: 768px) {
        .section-proyectos-grid .section-proyectos__item--9 {
          grid-column-start: 4;
          grid-column-end: 5;
          grid-row-start: 3;
          grid-row-end: 4; } }
      @media screen and (max-width: 576px) {
        .section-proyectos-grid .section-proyectos__item--9 {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 4;
          grid-row-end: 5; } }
      @media screen and (max-width: 350px) {
        .section-proyectos-grid .section-proyectos__item--9 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 6;
          grid-row-end: 7; } }

/* --------------------------CONTACTOS.HTML----------------------------- */
.main-div-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto; }
  @media screen and (max-width: 1300px) {
    .main-div-flex {
      flex-wrap: wrap; } }
  @media screen and (max-width: 1024px) {
    .main-div-flex {
      width: 90%; } }
  @media screen and (max-width: 576px) {
    .main-div-flex {
      width: 95%; } }

/* ---------------------------SUMATE.HTML----------------------------- */
.sumate-principal {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around; }
  .sumate-principal__title {
    padding: 1%;
    font-size: 1.5rem;
    font-family: Raleway;
    color: black;
    font-weight: 300; }
    @media screen and (max-width: 1024px) {
      .sumate-principal__title {
        font-size: 1.3rem; } }
  .sumate-principal__subtitle {
    color: #4072b0;
    font-size: 1.2rem;
    text-align: center; }
  .sumate-principal__iframe {
    width: 100vw;
    height: 100vh;
    padding-top: 2%;
    text-align: center;
    border: none; }

/* ---------------------------NOSOTROS.HTML----------------------------- */
/* seccion empresa */
.section-empresa {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
  margin-bottom: 5%; }
  .section-empresa__div {
    width: 30%;
    min-width: 400px;
    margin: 0 1.6%; }
    @media screen and (max-width: 768px) {
      .section-empresa__div {
        min-width: none; } }
  .section-empresa__img {
    display: block;
    width: 25%;
    margin: 2% auto;
    text-align: center; }
  .section-empresa__title {
    padding: 2% 0;
    font-size: 1.8rem; }
  .section-empresa__paragraph {
    text-align: center; }
    @media screen and (max-width: 768px) {
      .section-empresa__paragraph {
        margin: 0 7%; } }
    @media screen and (max-width: 350px) {
      .section-empresa__paragraph {
        margin: 0 15%; } }

/* seccion peeirr */
.section-peeirr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #dce3ef;
  margin-bottom: 5%;
  padding: 2%; }
  .section-peeirr-div {
    width: 30vw;
    min-width: 400px; }
    @media screen and (max-width: 1024px) {
      .section-peeirr-div {
        margin: 0 3%; } }
    @media screen and (max-width: 576px) {
      .section-peeirr-div {
        padding: 2% 5%;
        width: 90%;
        min-width: 150px; } }
    @media screen and (max-width: 350px) {
      .section-peeirr-div {
        min-width: 100px;
        width: 90%; } }
    .section-peeirr-div__subtitle {
      margin: 0;
      color: #112e4f; }
    .section-peeirr-div__item {
      padding-bottom: 1.5%;
      font-size: 1.3rem;
      font-family: Raleway;
      color: #112e4f;
      line-height: 1.9; }
      @media screen and (max-width: 576px) {
        .section-peeirr-div__item {
          padding-bottom: 1%;
          font-size: 1.2rem; } }

/* seccion equipo */
.section-equipo {
  margin: 0 auto; }
  @media screen and (max-width: 1300px) {
    .section-equipo {
      margin-bottom: 5%; } }
  @media screen and (max-width: 768px) {
    .section-equipo {
      margin: 10% 0; } }
  @media screen and (max-width: 576px) {
    .section-equipo {
      margin: 15% 0; } }
  .section-equipo__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1.5%;
    width: 95%;
    margin: 0 auto; }
    @media screen and (max-width: 1300px) {
      .section-equipo__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1.5%; } }
    @media screen and (max-width: 1024px) {
      .section-equipo__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 1.5%;
        margin: 0 auto;
        width: 90%; } }
    @media screen and (max-width: 576px) {
      .section-equipo__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        gap: 0.5%;
        margin: 0 auto; } }
    @media screen and (max-width: 350px) {
      .section-equipo__container {
        width: 100%; } }
    .section-equipo__container .section-equipo__div {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: auto;
      align-items: center;
      text-align: center;
      border-radius: 15px;
      box-shadow: 1px 1px 8px #dfdfdd; }
      @media screen and (max-width: 768px) {
        .section-equipo__container .section-equipo__div {
          width: 95%;
          margin: 0 auto; } }
      .section-equipo__container .section-equipo__div .section-equipo__img {
        width: 80%;
        height: 75%;
        object-fit: cover;
        object-position: top;
        margin-top: 0;
        padding-top: 0; }
        @media screen and (max-width: 1300px) {
          .section-equipo__container .section-equipo__div .section-equipo__img {
            width: 80%;
            height: 75%;
            object-fit: cover;
            margin-top: 0; } }
        @media screen and (max-width: 1024px) {
          .section-equipo__container .section-equipo__div .section-equipo__img {
            margin: 0 auto; } }
      .section-equipo__container .section-equipo__div .section-equipo__title {
        padding: 1.5%;
        font-size: 1.2rem;
        font-family: Poppins;
        color: #112e4f; }
      .section-equipo__container .section-equipo__div .section-equipo__paragraph {
        padding: 0 1.5%;
        font-size: 1.15rem;
        font-family: Raleway;
        color: black;
        line-height: 1.4; }

/* seccion sumate */
.section-sumate {
  margin: 5% 0;
  padding: 2%; }
  @media screen and (max-width: 768px) {
    .section-sumate {
      margin-top: 5%;
      width: 80vw; } }
  @media screen and (max-width: 576px) {
    .section-sumate {
      width: 100vw; } }
  @media screen and (max-width: 768px) {
    .section-sumate h4 {
      font-size: 1.3em; } }
  .section-sumate-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%; }
    .section-sumate-flex p {
      padding: 0 4%;
      font-size: 1.15rem; }
      @media screen and (max-width: 350px) {
        .section-sumate-flex p {
          text-align: center; } }

.section__button {
  display: inline-block;
  padding: 10px 25px;
  background-color: #112e4f;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.2rem;
  color: #f8f6f6;
  margin: 0 4%;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 5px #999999; }
  @media screen and (max-width: 768px) {
    .section__button {
      padding: 8px 22px; } }
  .section__button:hover {
    transform: scale(1.02);
    text-decoration: none;
    color: #f8f6f6;
    background-color: #164274; }

/* seccion formulario */
.section-formulario {
  width: 60%; }
  @media screen and (max-width: 1300px) {
    .section-formulario {
      width: 80%;
      margin: 5% auto; } }
  @media screen and (max-width: 768px) {
    .section-formulario {
      width: 95%;
      min-width: none;
      margin: 5% auto; } }
  .section-formulario__paragraph {
    padding: 1%; }
  .section-formulario__form {
    width: 100%; }
    .section-formulario__form fieldset {
      border: none; }
      .section-formulario__form fieldset legend {
        display: none; }
      .section-formulario__form fieldset .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 3%);
        gap: 8% 2%;
        width: 100%;
        height: 530px;
        grid-template-areas: "grid-nombre grid-apellido" "grid-email grid-telefono" "grid-asunto grid-asunto" "grid-mensaje grid-mensaje"; }
        @media screen and (max-width: 768px) {
          .section-formulario__form fieldset .form-grid {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            height: auto;
            row-gap: 5px; } }
        .section-formulario__form fieldset .form-grid__nombre {
          grid-area: grid-nombre; }
        .section-formulario__form fieldset .form-grid__apellido {
          grid-area: grid-apellido; }
        .section-formulario__form fieldset .form-grid__email {
          grid-area: grid-email; }
        .section-formulario__form fieldset .form-grid__telefono {
          grid-area: grid-telefono; }
        .section-formulario__form fieldset .form-grid__asunto {
          grid-area: grid-asunto; }
        .section-formulario__form fieldset .form-grid__mensaje {
          grid-area: grid-mensaje; }
          .section-formulario__form fieldset .form-grid__mensaje .input--mensaje {
            resize: none;
            margin-top: 3.5%;
            height: 80%; }

.input {
  width: 100%;
  padding: 5px 10px;
  margin: 0;
  background-color: #dce3ef;
  font-size: 1.3rem;
  font-family: Raleway;
  color: black;
  border: none; }
  @media screen and (max-width: 768px) {
    .input {
      padding: 8px 10px; } }
  .input:active {
    border: 1px solid #112e4f; }

.input__button {
  display: block;
  padding: 1.5% 2.5%;
  background-color: #4072b0;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.2rem;
  color: #f8f6f6;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 5px #999999;
  border: none;
  margin: 2% 0; }

/* seccion sumate */
.section-sumate-contacto {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%; }
  @media screen and (max-width: 1300px) {
    .section-sumate-contacto {
      width: 50%;
      margin: 0px auto; } }
  @media screen and (max-width: 768px) {
    .section-sumate-contacto {
      margin: 5% auto;
      width: 90%; } }
  @media screen and (max-width: 576px) {
    .section-sumate-contacto {
      width: 100%;
      min-width: 200px; } }
  .section-sumate-contacto__title {
    margin: 0;
    padding: 2% 0;
    font-size: 1.5rem;
    font-family: Raleway;
    color: #4072b0; }
  .section-sumate-contacto__subtitle {
    margin: 0;
    padding: 2% 0;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .section-sumate-contacto__subtitle {
        font-size: 1.2rem; } }
  .section-sumate-contacto__img {
    display: block;
    width: 100%;
    margin-top: 30px;
    object-fit: top; }
    @media screen and (max-width: 768px) {
      .section-sumate-contacto__img {
        width: 100%;
        height: 400px;
        object-fit: cover; } }

.section__button--contacto {
  padding: 2% 2.5%;
  margin: 1%; }

/* seccion encontranos */
.section-encontranos {
  margin-bottom: 5%; }
  .section-encontranos__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px; }
  .section-encontranos-div {
    width: 50%;
    font-family: Raleway; }
    .section-encontranos-div ul {
      margin: 5px;
      padding: 0; }
    @media screen and (max-width: 1024px) {
      .section-encontranos-div {
        width: 100%; } }
    .section-encontranos-div__title {
      font-size: 1.4rem; }
      @media screen and (max-width: 768px) {
        .section-encontranos-div__title {
          font-size: 1.25rem; } }
    .section-encontranos-div__item {
      padding: 10px 0;
      font-size: 1.3rem;
      list-style: none; }
      @media screen and (max-width: 768px) {
        .section-encontranos-div__item {
          font-size: 1.2rem; } }
    .section-encontranos-div__iframe {
      width: 100%;
      margin: 3%;
      box-shadow: 1px 1px 8px #dfdfdd; }
      @media screen and (max-width: 576px) {
        .section-encontranos-div__iframe {
          margin: 0%; } }

.footer {
  padding-top: 3%;
  background-color: #dce3ef;
  color: #112e4f; }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer__container .footer__section {
      width: 20vw;
      min-width: 200px;
      padding: 1%; }
      @media screen and (max-width: 576px) {
        .footer__container .footer__section {
          padding-top: 0;
          width: 100vw;
          text-align: center; } }
      @media screen and (max-width: 350px) {
        .footer__container .footer__section {
          border-left: none; } }
      .footer__container .footer__section .footer-redes {
        text-align: center; }
      .footer__container .footer__section .footer__list {
        padding: 5px;
        list-style: none;
        text-align: left;
        transition: all 0.2s ease-in-out; }
        @media screen and (max-width: 576px) {
          .footer__container .footer__section .footer__list {
            padding: 1%;
            text-align: center; } }
        .footer__container .footer__section .footer__list li {
          padding: 3% 0;
          font-size: 1.15rem;
          font-family: Raleway;
          color: black;
          line-height: 1.3;
          text-align: center; }
          @media screen and (max-width: 576px) {
            .footer__container .footer__section .footer__list li {
              text-align: center; } }
          .footer__container .footer__section .footer__list li .footer__link {
            padding: 1.5%;
            text-decoration: none;
            font-size: 1.15rem;
            font-family: Raleway;
            color: #112e4f;
            line-height: 1.3; }
            @media screen and (max-width: 1024px) {
              .footer__container .footer__section .footer__list li .footer__link {
                padding: 1.3%; } }
            @media screen and (max-width: 576px) {
              .footer__container .footer__section .footer__list li .footer__link {
                padding: 1%; } }
            .footer__container .footer__section .footer__list li .footer__link:hover, .footer__container .footer__section .footer__list li .footer__link--navegacion:hover {
              text-decoration: underline;
              color: #112e4f; }
          .footer__container .footer__section .footer__list li .footer__link--navegacion {
            padding: 2% 4%;
            line-height: 1.4;
            transition: all 0.2s ease-in-out; }
      .footer__container .footer__section .footer__subtitle {
        padding: 2% 30px;
        font-size: 1.2rem;
        text-align: center; }
        @media screen and (max-width: 768px) {
          .footer__container .footer__section .footer__subtitle {
            font-size: 1.1rem; } }
        @media screen and (max-width: 576px) {
          .footer__container .footer__section .footer__subtitle {
            text-align: center; } }

.footer-redes__link {
  text-decoration: none; }

.footer-redes__icon {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: #112e4f;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  text-decoration: none; }
  @media screen and (max-width: 1024px) {
    .footer-redes__icon {
      margin-left: 1%; } }
  @media screen and (max-width: 576px) {
    .footer-redes__icon {
      margin-left: 10%; } }
  .footer-redes__icon:hover {
    transform: scale(1.1);
    color: white;
    text-decoration: none; }

.footer-redes__icon--linkedin:hover {
  background-color: #0077b5;
  color: white; }

.footer-redes__icon--twitter:hover {
  background-color: #1da1f2; }

.footer-redes__icon--facebook:hover {
  background-color: #3b5998; }

.footer__icons {
  font-size: 22px;
  margin-right: 2%; }

.footer__logo {
  width: 100%;
  min-width: 180px;
  margin-bottom: 10%; }
  @media screen and (max-width: 576px) {
    .footer__logo {
      width: 60%;
      margin-bottom: 5%; } }
  @media screen and (max-width: 350px) {
    .footer__logo {
      width: 70%; } }

/* footer final */
.footer__final {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #112e4f;
  align-items: center; }
  .footer__final h4 {
    color: #f8f6f6;
    padding: 1%;
    font-size: 1.2rem;
    font-family: Raleway;
    color: #f8f6f6;
    font-weight: 200;
    align-items: center;
    text-align: center; }
    @media screen and (max-width: 350px) {
      .footer__final h4 {
        text-align: center; } }
