/* -----------------general---------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white;
}

main {
    width: 80vw;
    margin: auto;
    overflow-x: hidden;

    @include compu {
        width: 90vw;
    }

    @include movil {
        width: 100vw;
    }
}

h1 {
    padding: 4% 0;
    text-align: center;
    @include font(2.7rem, Poppins, $dark-blue);
    font-weight: 600;
    text-shadow: $textShadow;

    @include compu {
        padding: 2% 0;
        font-size: 2.4rem;
    }

    @include movil {
        font-size: 2.2rem;
    }
}

h2 {
    padding: 8% 3% 2%;
    text-align: left;
    @include font(2rem, Raleway, $dark-blue);
    font-weight: 600;

    @include compu {
        font-size: 1.8rem;
    }

    @include movil {
        font-size: 1.6rem;
        text-align: center;
    }
}

h3 {
    padding-top: 6%;
    text-align: center;
    @include font(1.75rem, Poppins, $blue);
}

h4 {
    padding-top: 6%;   
    @include font(1.5rem, Poppins, black);

     @include movil {     
         text-align: center;
     }
}

h5 {
    padding-top: 3%;
    @include font(1.5rem, Poppins, black);
}

p {
    padding: 2%;
    @include font(1.15rem, Raleway, black);
    line-height: 1.7;

    @include compu {
        font-size: 1.1rem;
    }
}

.header-img-h1 {
    @include images(100%, 25vh);

    @include compu {
        height: 20vh;
    }
}

.section-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2% auto;

    @include tablet {
        display: block;
    }

    .section-flex__paragraph {
        width: 50%;
        padding: 0 2% 3%;
        line-height: 1.9;
        font-size: 1.20rem;
        margin: 0 auto;

        @include tablet {
            width: 90%;
            padding: 0 2%;
        }
    }
}

.section__paragraph {
    text-align: center;
    width: 100%;
    margin: 0 auto 4%;
}

.icono-burguer:focus {
    border: none
}