/* -----------------general---------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white;
}

main {
    width: 80vw;
    margin: auto;
    overflow-x: hidden;

    @include compu {
        width: 90vw;
    }

    @include movil {
        width: 100vw;
    }
}

h1 {
    padding-top: 4%;
    text-align: center;
    @include font(2.7rem, Poppins, $dark-blue);
    font-weight: 600;
    text-shadow: $textShadow;

    @include compu {
        padding-top: 2%;
        font-size: 2.4rem;
    }

    @include tablet {
        font-size: 2.2rem;
    }

    @include movil {
        font-size: 2.1rem;
    }
}

h2 {
     padding: 4.5% 1.5% 2%;
    text-align: left;
    @include font(2.15rem, Raleway, $dark-blue);
    font-weight: 600;
    
    @include compu {        
        font-size: 2rem;
    }

    @include tablet {
        font-size: 1.8rem;
        text-align: center;
    }

    @include movil {
        font-size: 1.6rem;
    }
}

h3 {
    padding: 2% 0;
    text-align: center;
    @include font(2rem, Poppins, $blue);
   
    @include compu {
        font-size: 1.8rem;
    }

    @include tablet {
        font-size: 1.6rem;
    }

    @include movil {
        font-size: 1.4rem;
    }
}

h4 {
    padding: 1%;
    @include font(1.75rem, Poppins, black);

    @include compu {
        font-size: 1.5rem;
    }

    @include tablet {
        font-size: 1.4rem;
    }

    @include movil {
        font-size: 1.3rem;
    }
}

h5 {
    padding: 1%;
    @include font(1.5rem, Poppins, black);

    @include compu {
        font-size: 1.3rem;
    }
}

p {
    padding: 2%;
    @include font(1.15rem, Raleway, black);
    line-height: 1.7;

    @include compu {
        font-size: 1.1rem;
    }
}

.header-img-h1 {
    @include images(100%, 25vh);

    @include compu {
        height: 20vh;
    }
}

.section-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     margin: 0 auto 4%;

    @include tablet {
        display: block;
    }

    .section-flex__paragraph {
        width: 50%;
        padding: 0 2% 3%;
        line-height: 1.9;
        font-size: 1.20rem;

        @include tablet {
            width: 90%;
            padding: 0 2%;
            margin: 0 auto;
        }
    }
}

.section__paragraph {
    text-align: center;
    width: 95%;
    margin: 0 auto 4%;
}

/* From uiverse.io by @Ali-Tahmazi99// TRANSICION ICONO MENU HAMBURGUESA */
input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}

.bar {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;

    span {
        position: absolute;
        width: 40px;
        height: 6.22px;
        background: $white;
        border-radius: 100px;
        display: inline-block;
        transition: 0.3s ease;
        left: 0;

        &.top {
            top: 0;
        }

        &.middle {
            top: 17px;
        }

        &.bottom {
            bottom: 0;
        }
    }
}

input[type]:checked~span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
}

input[type]:checked~span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px;
    box-shadow: 0 0 10px hsl(50, 12%, 63%);
}

input[type]:checked~span.middle {
    transform: translateX(-20px);
    opacity: 0;
}