.footer {
    padding-top: 3%;
    background-color: $light-blue;
    color: $dark-blue;

    &__container {
        @include flex(flex, wrap, row, space-evenly);

        .footer__section {
            width: 20vw;
            min-width: 200px;
            padding: 1%;

            @include movil {
                padding-top: 0;
                width: 100vw;
                text-align: center;
            }

            @include movil-xs {
                border-left: none;
            }

            .footer-redes {
                text-align: center;
            }

            .footer__list {
                padding: 5px;
                list-style: none;
                text-align: left;
                transition: all 0.2s ease-in-out;

                @include movil {
                    padding: 1%;
                    text-align: center;
                }

                li {
                    padding: 3% 0;
                    @include font(1.15rem, Raleway, black);
                    line-height: 1.3;
                    text-align: center;

                    @include movil {
                        text-align: center;
                    }

                    .footer__link {
                        padding: 1.5%;
                        text-decoration: none;
                        @include font(1.15rem, Raleway, $dark-blue);
                        line-height: 1.3;

                        @include compu {
                            padding: 1.3%;
                        }

                        @include movil {
                            padding: 1%;
                        }

                        &:hover {
                            text-decoration: underline;
                            color: $dark-blue;
                        }
                    }

                    .footer__link--navegacion {
                        padding: 2% 4%;
                        line-height: 1.4;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            @extend .footer__link:hover;
                        }
                    }
                }
            }

            .footer__subtitle {
                padding: 2% 30px;
                font-size: 1.2rem;
                text-align: center;

                @include tablet {
                    font-size: 1.1rem;
                }

                @include movil {
                    text-align: center;
                }
            }
        }
    }
}

.footer-redes__link {
    text-decoration: none;
}

.footer-redes__icon {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: $dark-blue;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    text-decoration: none;

    @include compu {
        margin-left: 1%;
    }

    @include movil {
        margin-left: 10%;
    }

    &:hover {
        transform: scale(1.1);
        color: white;
        text-decoration: none;
    }
    
}

.footer-redes__icon--linkedin:hover {
    background-color: #0077b5;
    color: white;
}

.footer-redes__icon--twitter:hover {
    background-color: #1da1f2;
}

.footer-redes__icon--facebook:hover {
    background-color: #3b5998;
}

.footer__icons {
    font-size: 22px;
    margin-right: 2%;
}

.footer__logo {
    width: 100%;
    min-width: 180px;
    margin-bottom: 10%;

    @include movil {
        width: 60%;
        margin-bottom: 5%;
    }

    @include movil-xs {
        width: 70%;
    }
}

/* footer final */
.footer__final {
    @include flex(flex, wrap, row, space-around);
    background-color: $dark-blue;
    align-items: center;

    h4 {
        color: $white;
        padding: 1%;
        @include font(1.2rem, Raleway, $white);
        font-weight: 200;
        align-items: center;
        text-align: center;

        @include movil-xs {
            text-align: center;
        }
    }
}