.footer {
    padding-top: 3%;
    background-color: $light-blue;
    color: $dark-blue;

    &__container {
        @include flex(flex, wrap, row, space-evenly);

        .footer__section {
            width: 20vw;
            min-width: 200px;
            padding: 1%;
            border-left: 2px solid rgb(207, 216, 226);

            &:first-child {
                border-left: 2px solid rgb(220, 227, 239);
            }

            .footer-redes {
                text-align: center;
            }

            .footer__list {
                padding: 5px;
                list-style: none;
                text-align: left;
                transition: all 0.2s ease-in-out;

                li {
                    padding: 3% 0;
                      @include font(1.2rem, Raleway, black);
                        line-height: 1.3;
                        text-align: left;
                }
            }

            .footer__subtitle {
                padding: 3.5% 30px;
                font-size: 1.2rem;
                text-align: left;
            }            
        }
    }
}

.footer-redes__img {
    width: 1.5rem;
    color: $dark-blue;
    margin: 6% 3%;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.footer__link {
    padding: 1.5%;
    text-decoration: none;
    @include font(1.2rem, Raleway, $dark-blue);
    line-height: 1.3;

    &:hover {
        text-decoration: underline;
        color: $dark-blue;
    }
}

.footer__link--navegacion {
    padding: 2% 4%;
    line-height: 1.4;
    transition: all 0.2s ease-in-out;

    &:hover {
        @extend .footer__link:hover;
    }
}

.footer__icons {
    width: 20px;
    margin-right: 4%;
}

.footer__logo {
    width: 100%;
    min-width: 180px;
    margin-bottom: 10%;
}

.nav__list--footer {
    flex-direction: column;
}

/* footer final */
.footer__final {
    @include flex(flex, wrap, row, space-around);
    background-color: $dark-blue;
    align-items: center;

    h4 {
        color: $white;
        padding: 1%;
        @include font(1.1rem, Raleway, $white);
        font-weight: 200;
    }
}