/* --------------------INDEX.HTML---------------------- */

$bgImages: servicios nosotros proyectos contacto sumate;

@each $bgImageHeader in $bgImages {
    .header-#{$bgImageHeader} {
        background: $gradientHeaders,
        url('../images/#{$bgImageHeader}.webp');
    }
}

/* header */
.header-index {
    background: $gradientHeaders,
        url(../images/index.webp);
    @include backgroundHeaders(center);
    background-attachment: fixed;
}

/* primera barra */
.primera-barra {
    @include flex(flex, wrap, row, flex-end);
    height: 2.6rem;
    width: 100vw;
    padding-right: 10%;
    line-height: 4%;
    align-items: center;
    background-color: $dark-blue;
    position: fixed;
    z-index: 100;

    @include compu {
        padding-right: 3%;
        height: 2.4rem;
    }

    @include movil {
        padding-right: 2%;
        justify-content: center;
    }

    &__link {
        @include flex(flex, nowrap, row, center);
        align-items: center;
        height: 100%;
        margin: 0 1.75%;
        padding: 0.4% 1.8%;
        text-align: center;
        background-color: $light-blue;
        @include font(1.3rem, Raleway, $dark-blue);
        text-decoration: none;
        font-weight: map-get($fontWeight, weight4);
        transition: all 0.2 ease-in-out;

        @include compu {
            font-size: 1.2rem;
        }

        @include movil {
            font-size: 1.1rem;
        }

        &:hover {
            background-color: rgb(225, 231, 241);
            text-decoration: none;
            color: $blue;
        }
    }
}

.primera-barra__icon {
    font-size: 30px;
    color: $white;
    margin-right: 1.1rem;
    transition: all 0.3 ease-in-out;

    @include tablet {
        margin-left: 5px;
    }
    
    &:hover {
        color: $blue;
    }
}

.primera-barra__icon--lkd {
    @include movil-xs {
        display: none;
    }
}

/* segunda barra */
.segunda-barra {
    width: 100%;
    padding-top: 2.6rem;
    box-shadow: 2px 2px 8px rgba(156, 152, 129, 0.192);
    background-color: rgba(175, 175, 172, 0.336);

    @include compu {
        padding-top: 2.4rem;
    }
}

.navbar {
    @include movil {
        padding: 0;
    }
}

.navbar-toggler {
    @include movil-xs {
        position: absolute;
        top: 10px;
        right: 0;
    }
}

.navbar-brand {
    width: 40%;

    .logo {
        width: 60%;
        min-width: 250px;

        @include movil {
            width: 30px;
            min-width: none;
            padding: 2%;
        }

        @include movil-xs {
            padding-top: 60px;
        }
    }
}

.nav-link {
    @include font(1.3rem, Raleway, $dark-blue);
    font-weight: map-get($fontWeight, weight6);

    @include movil {
        font-size: 1.2rem;
    }

    &:hover {
        border-bottom: 2px solid $dark-blue;
        color: $dark-blue;
    }
}

.bi-x-circle,
.bi-three-dots-vertical {
    font-size: 30px;
    color: $dark-blue;
}

.offcanvas-end {
    background-color: $white;
}

.nav-item--offcanvas {
    border-bottom: 1px solid rgb(216, 220, 224);

    &:last-child {
        border-bottom: none;
    }
}

/* hero */
.hero {
    @include flex(flex, wrap, column, center);
    align-items: center;
    height: 90vh;

    @include compu {
        height: 75vh;
    }

    @include tablet {
        padding: 5%;
    }

    &__title {
        padding: 10px;
        text-align: center;
        @include font(1.6rem, Poppins, $dark-blue);
        font-weight: map-get($fontWeight, weight5);
        line-height: 1.6;
        text-shadow: $boxShadowImg;

        @include compu {
            font-size: 1.5rem;
        }

        @include movil {
            font-size: 1.4rem;
        }

        @include movil-xs {
            font-size: 1.3rem;
        }

        span {            
            font-weight: map-get($fontWeight, weight9);
            @include font(3rem, Poppins, rgb(28, 28, 28));

            @include compu {
                font-size: 2.8rem;
            }

            @include movil {
                font-size: 2.4rem;
            }

             @include movil-xs {
                 font-size: 2rem;
             }
        }
    }

    &__subtitle {
        padding: 10px;
        @include font(1.4rem, Raleway, $black);
        font-weight: map-get($fontWeight, weight5);
        text-align: center;
        background-color: rgba(248, 246, 246, 0.3);

        @include compu {
            font-size: 1.3rem;
        }

        @include movil {
            font-size: 1.2rem;
        }

        @include movil-xs {
            font-size: 1.1rem;
        }
    }

    &__button {
        @include button(inline-block, 0.9% 1.3%, $dark-blue, none, Poppins, 300, 1.15rem, $white);
        margin-top: 5%;
        text-align: center;
        border: $dark-blue 3px solid;
        transition: all 0.2s ease-in-out;
        box-shadow: $textShadow;
        border: none;

        &:hover {
            transform: scale(1.02);
            text-decoration: none;
            color: $white;
            background-color: rgb(22, 66, 116);
        }
    }
}

/* ------------------------ SERVICIOS.HTML ------------------------------*/

.header-servicios {
    @include backgroundHeaders(center);
}

/*---------------------------PROYECTOS.HTML -----------------------------*/

.header-proyectos {
    @include backgroundHeaders(top);
}

/* ------------------------------SUMATE.HTML---------------------------- */

.header-sumate {
    @include backgroundHeaders(center);
}

/* ---------------------------NOSOTROS.HTML----------------------------- */

.header-nosotros {
    @include backgroundHeaders(center);
}

/* ----------------------------CONTACTO.HTML---------------------------- */

.header-contacto {
    @include backgroundHeaders(top);

    @include movil {
        background-position: top 50%;
    }
}