/* ---------------------------INDEX.HTML----------------------------- */

/* Nuestros servicios */

.nuestros-servicios {
    margin: 4% auto;

    .nuestros-servicios__container {
        @include grid(grid, repeat(3, 1fr), repeat(2, 50vh), 5%);
        grid-template-areas:
            "cardServicios1 cardServicios5 cardServicios3"
            "cardServicios6 cardServicios2 cardServicios4";
        justify-content: stretch;

        .nuestros-servicios-grid {
            @include flex(flex, nowrap, column, space-evenly);
            height: 100%;
            width: 60%;
            min-width: 250px;
            border-radius: 15px;
            box-shadow: $boxShadow;

            & img {
                display: block;
                width: 36%;
                height: auto;
                margin: 2% auto;
                text-align: center;
            }

            &__subtitles {
                padding: 3%;
                text-align: center;
                @include font(1.05rem, Raleway, $blue);
                line-height: 1.5;
                font-weight: 600;
            }

            &__link {
                text-align: center;
            }
        }

        .nuestros-servicios-grid1 {
            @include gridArea(cardServicios1);
        }

        .nuestros-servicios-grid2 {
            @include gridArea(cardServicios2);
        }

        .nuestros-servicios-grid3 {
            @include gridArea(cardServicios3);
        }

        .nuestros-servicios-grid4 {
            @include gridArea(cardServicios4);
        }

        .nuestros-servicios-grid5 {
            @include gridArea(cardServicios5);
        }

        .nuestros-servicios-grid6 {
            @include gridArea(cardServicios6);
        }
    }
}

/* From uiverse.io // boton de LEER MAS */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 10rem;
    height: auto;

    & .circle {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: rgb(39, 40, 53);
        border-radius: 1.625rem;

        & .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: $white;

            &.arrow {
                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                left: 0.625rem;
                width: 1.125rem;
                height: 0.125rem;
                background: none;

                &::before {
                    position: absolute;
                    content: "";
                    top: -0.29rem;
                    right: 0.0625rem;
                    width: 0.625rem;
                    height: 0.625rem;
                    border-top: 0.125rem solid $white;
                    border-right: 0.125rem solid $white;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .button-text {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: rgb(39, 40, 53);
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
        font-family: Raleway;
    }
}

button:hover .circle {
    width: 100%;

    .icon.arrow {
        background: $white;
        transform: translate(1rem, 0);
    }
}

button:hover .button-text {
    color: $white;
}

/* Sobre Nosotros */

.sobre-nosotros {
    margin: 10% 0 5%;
    padding-bottom: 5%;
    background-color: $dark-blue;

    &__title {
        color: $white;
    }

    .sobre-nosotros__container {
        @include flex(flex, wrap, row, space-around);

        .sobre-nosotros-item {
            width: 45%;
            min-width: 400px;
            height: 50%;
            text-align: center;
            font-family: Raleway;
            line-height: 1.9;

            &__img {
                width: 80%;
                height: 50vh;
                margin-bottom: 3%;
                object-fit: cover;
            }

            &__subtitle {
                padding: 1%;
                @include font(1.6rem, Poppins, $light-blue);
                text-align: left;
            }

            &__paragraph {
                color: $white;
            }
        }
    }
}

/* Algunos de nuestros clientes //carrousel*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(39, 40, 53);
    border-radius: 50px;
}

/* ---------------------------SERVICIOS.HTML----------------------------- */

.section-servicios-container {
    @include flex(flex, wrap, row, space-around);
    width: 100%;
    margin-bottom: 5%;
    padding: 3% 0;
    align-items: center;
    border-radius: 15px;
    box-shadow: $boxShadow;

    .section-servicios-item {
        width: 40%;
        min-width: 400px;

        h4 {
            font-size: 1.3rem;
            padding: 3% 0;
        }

        &__img {
            width: 100%;
            height: 50vh;
            object-fit: cover;
            margin: 2%;
        }
    }
}

.section-servicios-container--serv5 {
    background-color: $dark-blue;

    h4 {
        color: $white;
    }

    p {
        color: $white;
    }
}

.section-servicios-container--serv2 {
    background-color: $light-blue;
    color: $dark-blue;
}

/* acordeon bootstrap //FAQS */

.accordion-button,
.accordion {
    font-family: Raleway;
    font-size: 1.3rem;
}

/* ---------------------------PROYECTOS.HTML----------------------------- */

.proyectos-container {
    @include flex(flex, wrap, row, space-around);
    margin: 3%;
    padding: 3%;
    border-radius: 15px;
    box-shadow: $boxShadow;

    .proyectos-item-img {
        display: flex;
        flex-wrap: wrap;

        &__img {
            width: 40%;
            height: 400px;
            object-fit: cover;
            margin: 3% auto;
        }
    }

    h3 {
        padding: 0 3%;
        text-align: left;
        font-size: 1.5rem;
        text-align: center;
    }

    .proyectos-item__list{
        padding: 0 5%;
    }
}
li::marker {
    color: $dark-blue;
}

.proyectos-container--active {
    @include flex(flex, wrap, row, flex-start);
    background-color: $light-blue;

    .proyectos-item {
        width: 45%;
        min-width: 400px;
        padding: 1%;

        &__img {
            width: 100%;
            height: auto;
            object-fit: cover;
            margin: 2% 0;
        }
    }
}

/* ---------------------------SUMATE.HTML----------------------------- */

.sumate-principal {
    @include flex(flex, nowrap, column, space-around);
    align-items: center;

    &__title {
        padding: 1%;
        @include font(1.5rem, Raleway, $black);
        font-weight: 300;
    }

    &__subtitle {
        color: $blue;
    }

    &__iframe {
        width: 100vw;
        height: 100vh;
        padding-top: 2%;
        text-align: center;
        border: none;
    }
}

/* ---------------------------NOSOTROS.HTML----------------------------- */

/* seccion empresa */
.section-empresa {
    @include flex(flex, wrap, row, space-evenly);
    margin-top: 2%;
    margin-bottom: 5%;

    &__div {
        width: 30%;
        min-width: 400px;
        margin: 0 1.6%
    }

    &__img {
        display: block;
        width: 25%;
        margin: 2% auto;
        text-align: center;
    }

    &__title {
        padding: 2% 0;
    }

    &__paragraph {
        text-align: center;
    }
}

/* seccion peeirr */
.section-peeirr {
    @include flex(flex, wrap, row, space-around);
    background-color: $light-blue;
    margin-bottom: 5%;
    padding: 2%;

    &-div {
        width: 30vw;
        min-width: 400px;

        &__subtitle {
            margin: 0;
            color: $dark-blue;
        }

        &__item {
            padding-bottom: 1.5%;
            @include font(1.3rem, Raleway, $dark-blue);
            line-height: 1.9;
        }
    }
}

/* seccion equipo */
.section-equipo {
    margin: 0 auto;

    &__container {
        @include grid(grid, repeat(3, 1fr), repeat(4, auto), 1%);
        width: 95%;
        margin: 0 auto;

        .section-equipo__div {
            @include flex(flex, nowrap, column, flex-start);
            align-items: center;
            width: 100%;
            height: auto;
            text-align: center;
            border-radius: 15px;
            box-shadow: $boxShadow;

            .section-equipo__img {
                @include images(90%, 60%);
                object-position: top;
                margin-top: 0;
                padding-top: 0;
            }

            .section-equipo__title {
                padding: 1.5%;
                @include font(1.1rem, Poppins, $dark-blue);
            }

            .section-equipo__paragraph {
                padding: 0 1.5%;
                @include font(1rem, Raleway, $black);
                line-height: 1.4;
            }
        }
    }
}

/* seccion sumate */
.section-sumate {
    margin: 5% 0;
    padding: 2%;

    &-flex {
        @include flex(flex, wrap, row, center);
        width: 100%;

        p {
            padding: 0 4%;
            font-size: 1.3rem;
        }
    }
}

.section__button {
    @include button (inline-block, 10px 25px, $dark-blue, none, Poppins, 300, 1.3rem, $white);
    margin: 0 4%;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 4px $textShadow;

    &:hover {
        transform: scale(1.1);
    }
}

/* seccion proyectos */

.section-proyectos {
    width: 90%;
    height: 100%;
    margin: 0 auto 8%;

    .section-proyectos-grid {
        @include grid(grid, repeat(5, 1fr), repeat(3, 30vh), 1%);

        .section-proyectos__item {
            position: relative;

            .section-proyectos__img {
                @include images(100%, 100%);
                box-shadow: $boxShadow;
            }

            .section-proyectos__title {
                position: absolute;
                width: 100%;
                padding: 2%;
                bottom: 0;
                background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
                @include font(1.3rem, Raleway, $white);
            }
        }

        .section-proyectos__item--1 {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .section-proyectos__item--5 {
            grid-row-start: 2;
            grid-row-end: 4;
        }

        .section-proyectos__item--7 {
            grid-column-start: span 2;
        }

        .section-proyectos__item--8 {
            grid-row-start: span 2;
        }

        .section-proyectos__item--9 {
            grid-column-start: 2;
            grid-column-end: 5;
        }
    }
}

/* --------------------------CONTACTOS.HTML----------------------------- */

.main-div-flex {
    @include flex(flex, nowrap, row, space-between);
}

/* seccion formulario */
.section-formulario {
    width: 60%;

    &__paragraph {
        padding: 1%;
    }

    &__form {
        width: 100%;

        fieldset {
            border: none;

            legend {
                display: none;
            }

            .form-grid {
                @include grid(grid, 1fr 1fr, repeat(3, 3%), 8% 2%);
                width: 100%;
                height: 530px;
                grid-template-areas: "grid-nombre grid-apellido"
                    "grid-email grid-telefono"
                    "grid-asunto grid-asunto"
                    "grid-mensaje grid-mensaje";

                &__nombre {
                    grid-area: grid-nombre;
                }

                &__apellido {
                    grid-area: grid-apellido;
                }

                &__email {
                    grid-area: grid-email;
                }

                &__telefono {
                    grid-area: grid-telefono;
                }

                &__asunto {
                    grid-area: grid-asunto;
                }

                &__mensaje {
                    grid-area: grid-mensaje;

                    .input--mensaje {
                        resize: none;
                        margin-top: 3.5%;
                        height: 80%;
                    }
                }
            }
        }
    }
}

.input {
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    background-color: $light-blue;
    @include font(1.3rem, Raleway, $black);
    border: none;

    &:active {
        border: 1px solid $dark-blue;
    }
}

.input__button {
    @include button (block, 1.5% 2.5%, $blue, none, Poppins, 300, 1.2rem, $white);
    transition: all 0.2s ease-in-out;
    box-shadow: $textShadow;

    &:hover {
        background-color: rgb(54, 97, 150);
    }
}

/* seccion sumate */
.section-sumate-contacto {
    @include flex(flex, nowrap, column, center);
    align-items: center;
    width: 30%;

    &__title {
        margin: 0;
        padding: 2% 0;
        @include font(1.5rem, Raleway, $blue);
    }


    &__subtitle {
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
        margin: 0;
        padding: 2% 0;
    }

    &__img {
        width: 100%;
        display: block;
        margin-top: 30px;
        object-fit: top;
    }
}

.section__button--contacto {
    padding: 1% 2%;
    margin: 1%;
}

/* seccion encontranos */
.section-encontranos {
    margin-bottom: 5%;

    &__container {
        @include flex(flex, wrap, row, flex-start);
    }

    &-div {
        width: 40vw;
        min-width: 350px;
        font-family: Raleway;

        &__title {
            font-size: 1.4rem;
        }

        &__item {
            font-size: 1.3rem;
            padding: 10px;

            span {
                color: $dark-blue;
                font-weight: 500;
                font-family: Poppins;
            }
        }

        &__iframe {
            width: 100%;
            margin: 3%;
            box-shadow: $boxShadow
        }
    }
}