@media only screen and (max-width: 1300px) {


    /* ---------------------INDEX.HTML----------------------------- */

    /* hero */
    .hero__title {
        font-size: 1.4rem;

        span {
            font-size: 4rem;
        }
    }

    .hero__subtitle {
        font-size: 1.4rem;
    }

    .hero__button {
        font-size: 1.1rem;
    }

    /* Nuestros servicios */

    .nuestros-servicios-grid__subtitles {
        color: $blue;
        font-size: 1rem;
    }

    /* ----------------------NOSOTROS.HTML-------------------------- */

    /* seccion equipo */
    .section-equipo {
        margin-bottom: 5%;

        .section-equipo__container {
            @include grid(grid, repeat(3, 1fr), repeat(4, auto),
                1.2%);
            width: 90%;
            height: 100%;
            margin: 0 auto;
        }
    }

    .section-equipo__img {
        @include images(80%, 60%);
        margin-top: 0;
    }

    /* seccion sumate */

    .section-sumate-flex p {
        padding: 0 3%;
        font-size: 1.1rem;
    }

    .section__button {
        font-size: 1.1rem;
    }

    /* -----------------------CONTACTO.HTML-------------------------- */

    .main-div-flex {
        flex-wrap: wrap;
    }

    /* seccion formulario */

    .section-formulario {
        width: 80%;
        margin: 5% auto;
    }

    .input {
        width: 100%;
        padding: 5px 10px;
    }

    /* seccion sumate */

    .section-sumate-contacto {
        width: 50%;
        margin: 0px auto;
    }
}