@media only screen and (max-width: 576px) {

    /* -----------------------general---------------------------- */

    main {
        width: 100vw;
    }

    h1 {
        padding-top: 2%;
        font-size: 2.3rem;
    }

    h2 {
        padding: 1.5%;
        padding-top: 3.5%;
        font-size: 1.3rem;
    }

    h3 {
        padding: 2% 0;
        font-size: 1.3rem;
    }

    h4 {
        padding: 1%;
        font-size: 1.1rem;
    }

    h5 {
        padding: 1%;
        font-size: 1.2rem;
    }

    h6 {
        padding: 1%;
        font-size: 1.1rem;
    }

    p {
        padding: 0.5%;
        font-size: 1.1rem;
    }

    .header-img-h1 {
        height: 20vh;
    }

    /* ---------------------------INDEX.HTML-------------------------- */

    /* primera barra */

    .primera-barra {
        padding-right: 2%;
        justify-content: center;

        &__link {
            font-size: 1.1rem;
        }
    }

    .primera-barra__img {
        width: 2rem;
        margin-left: 5px;
    }

    .primera-barra__img--lkd {
        display: none;
    }

    /* segunda barra */

    .logo {
        width: 30px;
        min-width: none;
        padding: 2%;
    }

    .navbar {
        padding: 0;
    }

    .nav-link {
        font-size: 1.2;
    }

    /* hero */

    .hero {
        height: 75vh;

        &__title {
            font-size: 1.2rem;

            span {
                font-size: 2rem;
            }
        }

        &__subtitle {
            font-size: 1.1rem;
        }

        &__button {
            font-size: 1rem;
        }
    }

    /* Nuestros servicios */

    .nuestros-servicios {
        margin: 8% auto;
        height: auto;

        .nuestros-servicios__container {
            display: flex;
            flex-direction: column;
            gap: 5%;

            .nuestros-servicios-grid {
                width: 60%;
                height: 300px;
                margin: 3% auto;

                .nuestros-servicios-grid img {
                    width: 20%;
                }
            }
        }
    }

    .section__paragraph {
        font-size: 1.2rem;
    }

    /* Sobre Nosotros */

    .sobre-nosotros-item {
        padding: 0 20px;

        .sobre-nosotros-item__subtitle {
            font-size: 1rem;
        }

        .sobre-nosotros-item__img {
            width: 100%;
            height: 40vh;
        }
    }

    /* footer */

    .footer__section {
        width: 100vw;
        text-align: center;
        margin-bottom: 5%;

        .footer__subtitle {
            font-size: 1.1rem;
            text-align: center;
        }

        .footer__list {
            padding: 1%;
            text-align: center;            

            li {
                 font-size: 1.1rem;
            }
        }
    }

    .footer-redes__img {
        margin-left: 10%;
        width: 1.5rem;
    }

    .footer__link {
        padding: 1%;
        font-size: 1.1rem;
    }

    .footer__icons {
        width: 10%;
        margin-right: 4%;
    }

    .footer__logo {
        width: 100%;
        margin: 2%;
    }

    /* footer final */

    .footer__final h6 {
        font-size: 1.1rem;
    }

    /* --------------------- SERVICIOS.HTML --------------------------*/

    .section-servicios-container {
        padding: 0 5%;
        width: 100%;

        .section-servicios-item {
            width: 100%;
            min-width: 200px;
            padding: 0;

            .section-servicios-item__img {
                height: 30vh;
                width: 100%;
                margin: 3% 0;
            }
        }
    }

    /* ------------------------ NOSOTROS.HTML -----------------------*/

    /* seccion peeirr */

    .section-peeirr-div {
        padding: 5%;
        width: 90%;
        min-width: 150px;
    }

    .section-peeirr-div__item {
        padding-bottom: 1%;
        font-size: 1.1rem;
    }

    /* seccion equipo */
    .section-equipo {
        margin: 15% 0;

        .section-equipo__container {
            @include grid(grid, 1fr, repeat(12, 1fr), 0.5%);
            width: 80%;
            margin: 0 auto;
        }
    }

    .section-equipo__img {
        @include images(80%, 60%);
        margin-top: 0;
    }

    /* seccion sumate */

    .section-sumate {
        margin-top: 5%;
        width: 100vw;

        h4 {
            font-size: 1.2rem;
        }
    }

    .section-sumate__flex p {
        font-size: 1.1rem;
        padding: 0 4%;
    }

    .section-sumate__flex p {
        padding: 0 3%;
        font-size: 1.1rem;
    }


    .section__button {
        padding: 8px 22px;
        font-size: 1.1rem;
    }

    /* seccion proyectos */

    .section-proyectos {
        width: 100%;
        margin: 0;

        .section-proyectos-grid {
            @include grid(grid, repeat(2, 1fr), repeat(6, 30vh), 1%);
            margin-bottom: 5%;

            .section-proyectos__item--1 {
                grid-column-start: span 2;
            }

            .section-proyectos__item--4 {
                grid-row-start: 3;
                grid-row-end: 4;
            }

            .section-proyectos__item--9 {
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
    }

    .section-proyectos__title {
        font-size: 1.1rem;
    }

    .section-proyectos__img {
        @include images(100%, 100%);
        box-shadow: $boxShadowImg;
    }

    /* ----------------------- PROYECTOS.HTML -----------------------*/

    .proyectos-container {
        margin: 0;
        padding: 3%;

        .proyectos-item-img {
            flex-wrap: wrap;

            .proyectos-item-img__img {
                @include images(30vw, 30vh);
                margin: 0.5% auto;
            }
        }

        .proyectos-item {
            width: 100%;
            min-width: none;

            .proyectos-item__img {
                display: none;
            }
        }
    }

    /* -------------------------- SUMATE.HTML ---------------------------*/

    .sumate-principal__title {
        font-size: 1.1rem;
    }

    .sumate-principal__subtitle {
        font-size: 1.2rem;
    }

    /* --------------------------CONTACTO.HTML------------------------- */

    .header-contacto {
        background-position: top 50%;
    }

    .main-div-flex {
        width: 90%;
        margin: 0 auto;
    }

    /* seccion formulario */

    .section-formulario {
        width: 90%;
        min-width: none;
        margin: 5% auto;
    }

    .form-grid {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        row-gap: 5px;
    }

    .input {
        padding: 8px 10px;
    }

    /* seccion sumate */

    .main-div-flex {
        width: 100%;
    }

    .section-sumate-contacto {
        @include flex(flex, nowrap, column, center);
        align-items: center;
        width: 100%;
        min-width: 200px;
        margin: 0 auto;


        &__title {
            color: $blue;
            font-size: 1.5rem;
            margin: 0;
            padding: 2% 0;
        }

        &__subtitle {
            font-size: 1.3rem;
            font-weight: 400;
            margin: 0;
            padding: 2% 0;
        }

        &__img {
            @include images(100%, 400px);
            display: block;
            margin-top: 30px;
            object-fit: top;
        }
    }

    .section__button--contacto {
        padding: 1% 2%;
        margin: 1%;
    }

    /* seccion encontranos */

    .section-encontranos {
        margin-bottom: 5%;

        .section-encontranos__container {
            display: flex;
            flex-wrap: wrap;
        }

        .section-encontranos-div {
            width: 100%;
            min-width: none;
            font-family: Raleway;

            &__title {
                font-size: 1.1rem;
            }

            &__item {
                font-size: 1.1rem;
            }

            &__iframe {
                width: 100%;
                margin: 0%;
                border-radius: 0;
            }
        }
    }

    .section-encontranos-div__item {
        font-size: 1.1rem;
        padding: 10px;

        span {
            @include font(1.1rem, Poppins, $dark-blue);
            font-weight: 500;
        }
    }
}