// variables

$dark-blue:rgb(17, 46, 79);
$blue:rgb(64, 114, 176);
$light-blue:rgb(220, 227, 239);
$white:rgb(248, 246, 246);
$black: rgb(0, 0, 0);

$boxShadow: 1px 1px 8px rgb(223, 223, 221);
$boxShadowImg: 2px 2px 2px rgb(172, 168, 149);
$textShadow: 1px 1px 5px rgb(153, 153, 153);

$gradientHeaders: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(219, 219, 219, 0.6), rgba(242, 242, 242, 0.6), rgba(172, 168, 149, 0.6));

$margin-bottom-section: 5%;


// mixin

@mixin gridArea($area) {
    justify-self: center;
    grid-area: $area;
}

@mixin backgroundHeaders($bgPosition) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: $bgPosition;
}

@mixin flex($display, $wrap, $direction, $justifyContent) {
    display: $display;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $justifyContent;
}

@mixin grid($display, $column, $rows, $gap) {
    display: $display;
    grid-template-columns: $column;
    grid-template-rows: $rows;
    gap: $gap;
}

@mixin grid-position($column-start, $column-end, $row-start, $row-end) {
    grid-column-start: $column-start;
    grid-column-end: $column-end;
    grid-row-start: $row-start;
    grid-row-end: $row-end;
}

@mixin button($display, $padding, $bgColor, $textDecoration, $fontFamily, $fontWeight, $fontSize, $color) {
    display: $display;
    padding: $padding;
    background-color: $bgColor;
    text-decoration: $textDecoration;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
    color: $color;
}

@mixin font($fontSize, $fontFamily, $color) {
    font-size: $fontSize;
    font-family: $fontFamily;
    color: $color
}

@mixin images($width, $height) {
    width: $width;
    height: $height;
    object-fit: cover;
}


//media-queries - mixin

@mixin compu-xl {
    @media screen and (max-width: 1300px) {
        @content;
    }
}

@mixin compu {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin movil {
    @media screen and (max-width: 576px) {
        @content;
    }
}

@mixin movil-xs {
    @media screen and (max-width:350px) {
        @content;
    }
}

// maps-get

$fontWeight: ("weight2": 200,
    "weight3": 300,
    "weight4": 400,
    "weight5": 500,
    "weight6": 600,
    "weight8": 800,
    "weight9": 900,
);