// variables

$darkblue:#112D4E;
$blue:#3F72AF;
$lightblue:#DBE2EF;
$white:#F9F7F7;

$boxShadow:1px 1px 8px #dfdfdd;


$gradientOld:-webkit-linear-gradient(to left, hsla(0, 0%, 92%, 0.8), hsla(0, 0%, 86%, 0.6), hsla(0, 0%, 95%, 0.6), hsla(50, 12%, 63%, 0.6));

$gradientNew: linear-gradient(to left, hsla(0, 0%, 92%, 0.8), hsla(0, 0%, 86%, 0.6), hsla(0, 0%, 95%, 0.6), hsla(50, 12%, 63%, 0.6));
